[2012-06-04 22:20] Acaldraei opened #22 "Problems with easter"
Holidays.easter 2012
=> Sun, 08 Apr 2012

That is all well and good but

 date=Date.civil 2012, 4, 8
=> Sun, 08 Apr 2012

Holidays.on date,:us,:observed
=> []

and
date.holiday? :us
=> false

*************
Also found weird behaviors such as:

development environment (Rails 3.2.3)
irb(main):001:0> d=Date.civil 2012,7,4
=> Wed, 04 Jul 2012
irb(main):002:0> d.holidays
=> []
irb(main):003:0> d.holiday

[2012-06-15 08:44] ff-sgupta opened #23 "Issue in identifying holidays for region :ca when used in Rails application in production mode"
The gem is working perfectly fine in development mode when cache_classes is set to false. However, when in production mode gem fails to recognize the Canadian holidays e.g New year's day. I made some initial investigation and found that.

1. In production mode holiday definitions for US (holidays/us.rb) is getting loaded by default which is not happening in development mode
2. In us.rb we have reg

[2013-03-12 18:00] hahahana opened #33 "Add valid year feature to holidays"
Holidays can be revoked, created, and changed so there should be functionality that specifies the validity of a holiday in certain years. For example, Memorial Day prior to 1971 had a different definition: instead of always falling on May 30 it was changed to the last Monday in May. We need functionality that can select the correct holidays based on the year. So if we are searching for holidays th

[2014-01-05 22:23] alexdunae opened #61 "Move Date monkey patching out of the main lib"
Monkey patching `Date` should be deprecated, then eventually moved into a `core_extension` file for optional inclusion.  Monkey patching was cool in 2007, but not so much now.

[2014-03-07 10:05] Saggex opened #65 "Hijri-Calendar"
I'm trying to implement the Islamic holidays too, but when I create a yaml-file, for "islam", and then the rb-file, I get the error, that it can't be loaded. Why? Any Ideas?

[2014-04-24 13:02] jabulile opened #70 "will not install with "bundle install --local""
Hi,

for some reason it keeps trying to fetch it from https://github.com/alexdunae/holidays

"bundle install --local

Fetching https://github.com/alexdunae/holidays
error: Failed connect to github.com:443; Connection timed out while accessing https://github.com/alexdunae/holidays/info/refs
fatal: HTTP request failed"

i'm on Ubuntu 12.04
gem -v
1.8.15

[2014-11-13 17:41] Intrepidd opened #86 "Remote code execution when trying to load custom region"
Culprit code :

[code]

Let's say you can upload a file to /tmp on the server, like profile_pic.jpg that contains some ruby

Calling ``Holidays.between(Time.now, 2.years.from_now, '../../../../../../../../../../../../tmp/profile_pic.jpg')`` will execute the ruby code inside the file.

the region parameter can be something issued from a user params, hence this issue.

Thanks

[2015-01-30 19:21] flynfish opened #90 "Federal Reserve holidays incorrect"
It looks like the Fed holidays are incorrect based on this (shouldn't have christmas and new years eve):

http://www.federalreserve.gov/aboutthefed/k8.htm

I can submit a pull request if needed, just let me know.

[2015-01-30 20:27] flynfish commented on #90
Good Friday should also not be included.

[2015-02-14 21:56] ptrimble commented on #90
Thanks for reporting this! I'll take a look at this shortly.

[2015-02-15 05:57] ptrimble commented on #22
It's shameful that this was sitting for so long but I'm looking into this tonight. Let me run through each point brought up and say what I found.

[code]

This seems to be desired behavior. According to our definitions for the :us region, Easter Sunday is considered an 'informal' holiday. If you were to run `Holidays.on date,:be,:observed` or even `Holidays.on date,:be` then the holiday would appe

[2015-03-13 20:53] aripollak commented on #90
Any news on this? Would it be more likely to be fixed with a PR?

[2015-03-13 21:38] flynfish commented on #90
@aripollak in the meantime this is how I fixed it:

[code]

[2015-03-16 19:45] aripollak commented on #61
I would like this! Would a PR to do this be accepted? Obviously this would be a breaking change so the major version number would have to be incremented to adhere to semantic versioning.

Somewhat relatedly, is there any reason that holidays.rb ends up `include`ing Holidays inside Date? It doesn't look like that should have any useful effect.

[2015-03-16 20:38] ptrimble commented on #61
@aripollak Of course! I don't mind a major bump, it would be a nice addition.

To your question, I don't think you'll get an answer on why it was done that way. It was a long time ago. If it works without it then I think we're good to go.

[2015-03-16 20:38] ptrimble commented on #90
Sorry dudes, I'll try to take a look at this on the train ride home tonight.

[2015-03-16 20:40] ptrimble commented on #86
It's been forever for this but I think I'm going to do this damage control while I perform a rewrite on another branch. I can't wait until the rewrite is complete before fixing it. :disappointed:

[2015-03-17 01:39] ptrimble commented on #90
Addressed here: https://github.com/alexdunae/holidays/pull/97

Thanks for your patience! Let me know if you spot anything wrong with what I've pushed up. I'll be pushing a new version of the gem a bit later tonight.

[2015-03-17 01:39] #90 closed

[2015-03-17 18:49] aripollak opened #98 "Inaguration Day isn't a Federal Reserve holiday"
The `federal_reserve` region currently counts Inaguration Day as a holiday, but according to [this](http://www.federalreserve.gov/aboutthefed/k8.htm) it's not (just the Governors Board being closed, which doesn't count), so I think it should be removed.
Also, it doesn't look like Independence Day should be using `to_monday_if_sunday`.

[2015-03-17 19:01] ptrimble commented on #98
Oh! I saw the Board of Governors was closed, I thought it was the same thing. Shows what I know about the Fed. Thanks for double-checking.

I'll take a look at this probably tomorrow and push out a fix.

[2015-03-17 19:02] aripollak commented on #98
Thanks for the quick response! Sorry I didn't catch this earlier in #90.

[2015-03-17 19:06] ptrimble commented on #70
This doesn't seem like a holiday gem specific issue. I'm going to go ahead and close this, feel free to post another update if it is still happening and I would be happy to reopen.

[2015-03-17 19:06] #70 closed

[2015-03-17 19:07] ptrimble commented on #65
I'm going to go ahead and close this out since we haven't heard back from @Saggex. Feel free to post an update with the error you were seeing if you would like me to reopen. Thanks!

[2015-03-17 19:07] #65 closed

[2015-03-17 19:10] ptrimble commented on #98
@aripollak What do you think about having Inauguration Day as an 'informal' holiday? With that it will only show up in the results if a person explicit states that they want to see informal holidays.

[2015-03-17 19:16] ptrimble commented on #98
Maybe, I don't know. I guess I should admit again that I don't really know what 'Governors Board' being closed really means in practical terms. Do people think of 'Federal Reserve' holidays as bank holidays? Does the Governors Board being closed have anything to do with bank holidays? :fearful:

[2015-03-17 19:20] ptrimble commented on #98
Lastly, why do you think that July 4th should not be using `to_monday_if_sunday`? Based on this I would think that we should:

[code]

Am I reading this incorrectly?

[2015-03-17 20:25] aripollak commented on #98
Yes. Specifically in our case (and I assume what other people are using it for as well), we're using it to calculate an acceptable date to specify as an effective bank transfer date, since weekends and Federal Reserve holidays are not valid. Maybe there are certain narrow cases for needing Governors Board holidays, but I don't think most people would be using those.

Oh yeah, you're totally right.

[2015-03-17 23:13] ptrimble commented on #98
Okay! I'll go ahead and remove Inauguration Day entirely. PR forthcoming.

[2015-03-17 23:15] ptrimble commented on #98
And here it is: https://github.com/alexdunae/holidays/pull/99

Want to give it a look-over? It's pretty small.

[2015-03-18 22:50] ptrimble commented on #98
Handled in the above PR. Thanks @aripollak! Let me know if you spot anything else.

[2015-03-18 22:50] #98 closed

[2015-03-18 22:51] ptrimble commented on #98
Oh, and I will release this sometime soon, I have caching feature I would also like to get out at the same time.

[2015-03-19 02:35] ptrimble opened #102 "Add Coverage support"
We should be tracking test coverage.

FYI, while investigating this I discovered that we still support Ruby 1.8.7 , which is so out of date that it should probably be dropped as part of this change.

[2015-03-28 19:26] ptrimble commented on #23
Small update, I am in the process of refactoring the codebase so that we don't have a giant single file that contains all of our logic. I'm hoping that one of two things happens during this process:

1) I figure out what is causing problems like this while refactoring
2) Once the codebase is split up it will be easier to diagnose problems like this.

[2015-03-28 19:39] ppeble opened #107 "Convert to rspec?"
What are people's thoughts about the current test suite? In the process of refactoring I am adding a bunch of new tests and I'm starting to wonder if I should spend the time to convert us to rspec.

I'll admit that I am partial to it over Test::Unit. It has a lot of additional features that I have come to rely upon. I'm really torn, though, because it's a lot of work and we already have working te

[2015-04-01 08:46] tyrmyk opened #109 "Add new region - Bulgaria"
Hi,
It will be very nice if the Bulgarian holidays are added. I've prepared "bg.yaml" that is tested. It seems it is working fine. The problem is that the Orthodox Easter is calculated according the Julian calender -> http://en.wikipedia.org/wiki/Easter. I found this functionality implemented in project https://github.com/Loyolny/when_easter, so I used it. Maybe you could implement the same code f

[2015-04-02 17:01] ptrimble commented on #109
Hm, that is interesting! Let me take a look at this and see how we can integrate Orthodox Easter. I completely agree that just having the Julian calendar Easter is not enough.

I might push it back a bit while I refactor the app...right now the Easter calculations are right in the main lib/holidays.rb file. I would like to split Easter calculations out. When I split them out it should be easier to

[2015-04-03 06:57] tyrmyk commented on #109
My colleagues and me tried creating a fork of your project and creating a pull request with the changes we made. Unfortunately the system did not allow to publish/sync/upload the PR. Maybe it is due to our free accounts or we are missing some steps. Could you give us advice how to do it? We could send you the package by e-mail or you can get it from here: https://www.dropbox.com/s/wqpci1fptisqa4u/

[2015-04-06 23:03] #102 closed

[2015-04-07 20:02] flynfish commented on #98
:+1:  I agree that most people will probably be using this for closed bank holidays and that inauguration day was properly removed. Thanks for the update!

[2015-04-07 23:41] ptrimble commented on #109
Hi @tyrmyk , hm, you should be able to open a PR with a regular free account on Github. Did you follow these instructions? https://help.github.com/articles/creating-a-pull-request/

[2015-04-08 12:22] sesam commented on #22
Any known workarounds? For instance, could cache_between be used in a specified way to always get correct results?

[2015-04-18 16:40] ptrimble commented on #61
FYI for anyone working on this, I am going to roll this update into my [refactor](https://github.com/ptrimble/holidays/tree/refactor) branch. Should have something up today.

[2015-04-18 20:05] ptrimble commented on #61
And it's done. I'm going to leave this issue open until we actually merge in the overall refactor just so I don't lose track of it.

Feedback welcome: https://github.com/ptrimble/holidays/blob/refactor/lib/holidays/core_extensions/date.rb

You can check out the updated README on my branch as well for usage.

[2015-05-04 09:44] MathijsK93 opened #116 "How to override holidays"
We're using the holidays gem to prevent performing actions on holidays, but some holidays defined in the yaml files, such as liberation day, is an normal working day.

I know how to add custom holidays, but how can i override a specific holiday?

[2015-05-06 13:58] espen commented on #116
If the day is a working day in your country it should be listed as informal in the data files, right? If you can document this is correct then I suggest you send a pull request.

[2015-05-09 19:50] ptrimble commented on #116
@MathijsK93 Yep, @espen had the right of it. If you have documentation (wikipedia, some government site, etc) that the definition is wrong then we can discuss it or you can submit a PR with the update. That would be the best course of action. So, for example, if the day you specified is a holiday but not observed as a day off then we should probably update the defs to make it 'informal'.

As for o

[2015-05-14 14:14] johnnyshields opened #121 "Support Japanese rokuyo"
In Japan there is a Buddhist calendar system called "rokuyo". More info here: http://www.seiyaku.com/customs/rokuyo.php. It is standard to see Rokuyo on most calendars printed in Japan.

The logic is complex but essentially each day has a rokuyo day which is one of 6 values, and unlike western weekdays (mon, tues, weds) they don't follow a consistent cycle and reset based on lunar month and other

[2015-05-14 14:23] johnnyshields commented on #107
+1 to Rspec, it's the way to go and most gems are using it.

[2015-05-23 19:24] ptrimble commented on #121
Yeah, that sounds great. I'm not familiar with it at all (which is hardly surprising, I guess, since I'm in the US) but I'd love to take a look at the PR. I'll leave this issue open for discussion until the PR comes through.

I'm not entirely sure how I would want to handle something like this...the current standard is for the definition files to equate to regions or areas. This would be a new cal

[2015-05-24 03:48] johnnyshields commented on #86
@ptrimble I think your proposed solution of `File.basename` is adequate.

[2015-05-24 04:04] johnnyshields commented on #121
@ptrimble just did a brief investigation of the definition file and seems it won't work for the above requirement. The way the file is structure it assumes holidays occur once a year, but for this the same value may occur ~70 times a year.

[2015-05-24 04:43] johnnyshields commented on #121
Did a bit more investigation and determined that if you know the Chinese Lunar calendar date there's straightforward logic to calculate the Rokuyo day. (To know the Chinese Lunar new year you need to store some sort of lookup table such as in this gem: https://github.com/lanvige/chinese_lunar)

In short I think Chinese Lunar calendar and Rokuyo this is probably better suited for it's own gem, not

[2015-05-27 17:11] jasonirwin opened #125 "NYSE - Incorrect date for Independence day?"
This year the 4th of July falls on a Saturday and is observed on Friday 3rd. However, when I run the following, the 4th is still listed as a holiday

```y Holidays.between(Date.civil(2015,1,1),Date.civil(2015,12,31),:nyse)```

Similarly the following returns false:

[code]

[2015-05-28 10:58] MathijsK93 commented on #116
I created an Pull request for this: #126

[2015-05-28 11:29] jufemaiz commented on #22
Ok, I can confirm that this occurs in POR as well and I'm certain I know the root cause.

[code]
gives the following:
[code]

When you do some digging you'll find the problem is due to no regions having been loaded to be looked at.

[code]
gives us
[code]
The cause is the use of a cache of regions via @@regions array in the Holidays class, which is then appended with any additional regions being l

[2015-05-28 12:18] jufemaiz opened #127 "Western Australia (:au_wa) ANZAC Day 2015 not on Monday"
Although technically the public holiday is both Saturday 25th April and Monday 27th April (as per http://www.commerce.wa.gov.au/labour-relations/public-holidays-western-australia), the rule of "to_monday_if_weekend" is not working. Instead I'm seeing the following (all loaded):

[code]

[2015-05-28 12:25] jufemaiz commented on #127
Ah crap. :observed flag not applied. Appologies!

[2015-05-28 12:25] #127 closed

[2015-05-28 13:36] ptrimble commented on #127
No worries! Always good to have people reporting stuff, especially new definitions.

[2015-06-16 17:22] ptrimble commented on #121
Gotcha! Feel free to ping me if you would like support or reviews, I'd be happy to investigate. Now that we own this 'holidays' org it might make sense to bundle some things together. Who knows!

I'm going to go ahead and close this. Thanks again!

[2015-06-16 17:22] #121 closed

[2015-06-24 23:02] #116 closed

[2015-06-25 14:06] ptrimble commented on #125
Hi Jason, thanks for reporting and sorry for the delay, I'll take a look at this on my train ride home this evening and report back with what I find. Then we can make a plan on how to proceed.

[2015-06-25 14:08] ptrimble opened #129 "Gemspec should report minimum required ruby version"
Currently we have no minimum for the ruby version, which isn't true anymore. According to our Travis config we are only supporting 1.9.2 and up. This should be reflected.

[2015-06-25 14:09] ptrimble opened #130 "Require Ruby 2.0 and up only"
Since Ruby 1.9.3 is no longer supported we should require the newer versions. This shouldn't (I hope) require code changes, simply a change in what we test on Travis.

[2015-06-25 15:46] ptrimble opened #132 "Update Travis to use new containers"
I have heard from co-workers that the new container-based Travis CI options are much faster. I want to look into switching (which seems straightforward) and testing it.

Doc: http://docs.travis-ci.com/user/workers/container-based-infrastructure/

[2015-06-25 23:13] ptrimble commented on #125
Nope, jumped the gun on the 'bug' designation. I thought I found something but it turns out that I didn't read further. :smile:

The issue here is that this is considered an 'observed' holiday and as such is not automatically returned unless you explicitly pass in the `:observed` flag, like so:

[code]

The def used the :observed key for this: https://github.com/holidays/holidays/blob/master/data/

[2015-06-26 02:13] jasonirwin commented on #125
It certainly does, thanks for the clarification.

[2015-06-26 02:14] #125 closed

[2015-07-05 19:08] ptrimble commented on #107
I *am* going to do this but I have to push it off. I'm basically performing a complete rewrite of this gem and I just can't bring myself to go back and redo all of the existing tests yet. I'll leave that for a future enhancement and I'll leave this issue open in the meantime.

[2015-07-05 19:09] ppeble opened #133 "Improve integration tests"

[2015-08-19 09:37] seanhandley opened #134 "Missing UK bank holiday"
The gem appears to miss out the Summer bank holiday in August i.e.

[code]

(See https://www.gov.uk/bank-holidays for an accurate list for 2015/2016.)

Oddly, the gb data includes the last Monday of the month as a bank holiday: https://github.com/holidays/holidays/blob/v2.2.0/data/gb.yaml

[2015-08-19 12:35] #134 closed

[2015-10-13 23:00] russellsanders opened #137 "Issue with Day after Thanksgiving"
Day after Thanksgiving does not always get calculated to the date following Thanksgiving.  If the first day of the month falls on a Friday the the current calculation of the 4th Friday doesn't work and ends up being the week before Thanksgiving.  It really should be calculated as the 4th Thursday + 1 day

[code]

[2015-11-25 02:32] #132 closed

[2015-11-25 02:33] ptrimble commented on #137
Thank you for the PR! I've merged so I'll close this out.

[2015-11-25 02:33] #137 closed

[2015-12-01 05:02] charlie-ablett opened #141 "NZ Nelson Anniversary"
First off - thanks for your work on this awesome gem.

The NZ region file includes the Nelson Anniversary, but has the region as `:nz_ak` - which is Auckland (other end of the country, and has its own anniversary! - see [here](http://publicholidays.co.nz/) and [here] (http://employment.govt.nz/er/holidaysandleave/publicholidays/publicholidaydates/future-dates.asp))

https://github.com/holidays/hol

[2015-12-05 21:56] ptrimble commented on #141
Thank you for this! I have a few NZ coworkers and if they knew that this gem had incorrect holidays for their homeland I might get smacked. :smile:

Let me take a look at this and see if I can understand the issue. I'll dig into those 'public holidays' links, they usually make things clear enough to me.

[2015-12-07 04:24] angelim opened #144 "Can't load function based holidays with .load_custom"
When I tried to add a custom holiday using a yaml file as per the Readme instructions, I got a `NoMethodError: undefined method call' for "easter(year)-47":String error`.

`Holidays.call_proc` is waiting for a `Proc`, but when the yaml is loaded by `.load_custom`, function nodes are are sent to `.call_proc` as regular Strings.

I didn't dive into the code much, but I implemented a solution that di

[2015-12-08 05:41] ptrimble commented on #86
I know it's ridiculously, embarrassingly late but with the refactor I can now more easily perform region validation. I have added the fix to my branch, which I plan on merging to a release candidate branch (or something like that) in the near future with the goal of merging my current work into master.

Here is the commit in question: https://github.com/ptrimble/holidays/commit/af5d103c865c0d2b7fc

[2015-12-08 06:11] ptrimble commented on #130
This will be handled in this PR: https://github.com/holidays/holidays/pull/112

[2015-12-08 06:16] ptrimble commented on #129
I'm not positive what I intended with this, to be honest. I don't think we need to explicitly set a minimum. The Travis config will show what we test against.

[2015-12-08 06:16] #129 closed

[2015-12-08 06:19] ptrimble commented on #144
Hm, that's interesting. The original intent I had was to simply reuse the existing definition merging logic but expose it so it could be called by `load_custom`. Clearly whatever I intended isn't happening in all cases.

Would you be able to put up a gist (or copy/paste) the custom definition? That way I can write some tests that explicitly hit this scenario and ensure we never encounter it again.

[2015-12-08 22:04] charlie-ablett commented on #141
Thanks! :D

[2015-12-11 21:40] ptrimble commented on #141
While attempting to implement this I think I've uncovered a bug in the date processing for observed holidays that fall at month end or month beginning. Based on my understanding the current logic won't allow for the 2017 Nelson's holiday. If you give 2017/1/30 (the correct date according to [this](http://employment.govt.nz/er/holidaysandleave/publicholidays/publicholidaydates/future-dates.asp)) th

[2015-12-11 21:48] ptrimble commented on #141
Here is the PR: https://github.com/holidays/holidays/pull/145

Can you please take a quick look and let me know if I messed anything up?

[2015-12-11 21:56] ptrimble opened #146 "Observed holidays that span month-end are not found"
While researching https://github.com/holidays/holidays/issues/141 I found that it seems as if observed holidays that fall across month boundaries are not found as expected.

An example: `Holidays.on(Date.civil(2017, 1, 30), :nz_ne, :observed)`

* region: nz_ne - Nelson Anniversary Day - actual holiday is 2/1 but it is observed on the closest monday. For 2017 2/1 is a Wednesday, meaning that it is

[2015-12-13 00:11] ptrimble commented on #141
I went ahead and merged. If there are issues we can address them in a new PR. I am going to pull down these changes and try to fix the other issue that I opened in my refactor branch. Thanks again for taking the time to submit the issue!

[2015-12-13 00:11] #141 closed

[2015-12-13 02:49] ptrimble commented on #146
I'm going to close this. I have handled this [here](5c1b62e) in the refactor branch, which will be merged soonish. I took the opportunity to start splitting up the massive 'between' context. Now we have slightly better test coverage and things are a bit more split apart than before.

[2015-12-13 02:49] #146 closed

[2015-12-13 03:32] ptrimble commented on #130
This has been merged.

[2015-12-13 03:32] #130 closed

[2015-12-13 03:32] ptrimble commented on #61
This has been merged.

[2015-12-13 03:32] #61 closed

[2015-12-13 03:32] ptrimble commented on #86
This has been merged.

[2015-12-13 03:32] #86 closed

[2015-12-17 00:38] itsecureadmin opened #149 "NoMethodError: undefined method `holiday?'"
It seems the holiday? method is broken in version 3.0.0 (although I have not tested any other versions):

Fetching: holidays-3.0.0.gem (100%)
Successfully installed holidays-3.0.0
Parsing documentation for holidays-3.0.0
Installing ri documentation for holidays-3.0.0
Done installing documentation for holidays after 1 seconds
1 gem installed

2.2.0 :001 > require 'holidays'
 => true
2.2.0 :002 > re

[2015-12-17 01:23] ptrimble commented on #149
Thanks for the report! Long story short: we are not auto-monkey-patching the `Date` class anymore. We require that you manually load the core extension, like so:

[code]

I changed the section on how to use it in the README: https://github.com/holidays/holidays#extending-rubys-date-class

I'm no expert when it comes to core extensions but based on feedback I received previously this was the accept

[2015-12-17 02:14] ptrimble commented on #107
Just want to say that I really really really want to switch. Finishing up my tests without rspec has been hell.

[2015-12-17 02:16] ptrimble commented on #109
I'm going to go ahead and close this issue since we have an open PR and I am (finally) on top of it. Sorry again to you and your colleagues for my absolutely dreadful response time. I feel awful.

For posterity here is the PR: https://github.com/holidays/holidays/pull/117

[2015-12-17 02:16] #109 closed

[2015-12-17 02:51] ptrimble commented on #144
Also, just want to point out that with the refactor some of these functions have moved.

[2015-12-17 02:59] ptrimble commented on #144
I also think I realized a bug in my `load_custom` logic. I don't think we are loading and storing the custom procs anywhere. What you are doing is attempting to access an existing proc that exists in other places. But what if you want to add a new custom proc? I don't think it will work!

[2015-12-17 04:57] ptrimble commented on #144
Man, this bug is subtle as hell because of the weird `require` stuff we do on loading of regions. I'm gonna need some time to figure out a good solution. :frowning:

[2015-12-17 18:04] itsecureadmin commented on #149
That was it, thanks.  I had seen that but it was not abundantly clear to me as I am no expert in this area either.

[2015-12-17 18:04] #149 closed

[2015-12-22 23:27] ptrimble commented on #144
Bwuh. I don't see any other way out of this other than a breaking change and updating the way that we handle custom procedures. I have a pretty clear idea on how to handle it but it'll require me to change every def that has custom procs. I think this is the right long-term play but it'll take me a bit of time...

[2015-12-26 20:31] ttwo32 commented on #107
+1 to Rspec.

[2016-01-03 23:10] CloCkWeRX opened #154 "NoMethodError: undefined method `calculate_mday' for Date:Class"
holidays 3.0.0 afaik

Backtrace from newrelic:
[code]

Reproduce code
[code]

[2016-01-03 23:24] CloCkWeRX commented on #154
I think it's cleaner for the definitions to invoke
[code]
even if its a lot more verbose; as it means you don't have to extend the core Date object to use the library; it becomes optional.

[2016-01-05 05:19] ptrimble commented on #154
Gah, yeah, that's a good catch. That's a regression, I'll label it as a bug and look at your PR. Thanks for reporting!

[2016-01-05 05:21] #154 closed

[2016-01-22 11:08] samstickland opened #160 "Getting the name of a region"
Hi,

I'm trying to use this in an application to mark Bank Holidays in a user's calendar.

In order to make this work I'm assuming I need to collect the region a user is in, and to do that I'm going to need a list of regions,  converted to English names (at the very least, possibly I18n'ed names in the future).

Is there anyway to do that?

Also, there seems to be some regions I wouldn't want a us

[2016-01-22 12:45] samstickland opened #161 "Saint Andrew's day is a Bank Holiday in Scotland (but is listed as informal)"
Hi,

In gb.yaml St. Andrew's Day is incorrectly listed as informal:

  - name: St. Andrew's Day
    regions: [gb_sct]
    mday: 30
    type: informal
    observed: to_monday_if_weekend

This is now a Bank Holiday since 2007.

I'm not sure how to correct this, since dates prior to 2006 should still report informal.

[2016-01-29 03:51] ptrimble commented on #160
Hi @samstickland! Sorry for the delay, had a busy week.

Currently I don't think we can give you what you seem to need. All I can give you at the moment is a list of all of the regions we have available:

[code]

This isn't exactly what you want but currently we don't map an English name, let alone a i18n'ed name. That'll have to be something we add.

As to your second point, the issue is that `:g

[2016-01-29 03:53] ptrimble commented on #161
Hi again @samstickland.

Yep, this is a known feature that we want to add: https://github.com/holidays/holidays/issues/33

I've recently been performing a large-scale refactor of this gem and so I'm just now in a position to actually address some of these enhancements.

As a stopgap, we had a similar situation for a holiday in Japan. One way is to create a custom method and put the logic in there,

[2016-02-12 17:46] elbartostrikesagain commented on #144
I had the same problem. Also, it seems for some cases function is a string passed containing (year) and some cases it only had the function name. I got fed up and didn't bother to figure out why, leading to this horrid code below haha. I also had problems defining custom functions in yaml like the US file(day_after_thanksgiving) so I defined them outside the yaml. But maybe someone else will find

[2016-02-12 17:51] ptrimble commented on #144
@elbartostrikesagain Thank you! Yes, it is helpful, and I am very close to having a PR to address this. The holidays took a lot out of me so I didn't make as much progress during January as I wanted but I should have something that addresses this shortly.

Thanks again for providing this snippet.

[2016-02-14 18:58] ptrimble commented on #33
This has been implemented in https://github.com/holidays/holidays/pull/162

It will be merged son.

[2016-02-17 16:20] brentdodell opened #163 "Get next X number of holidays"
Is there a way to get the next `x` number of holidays? I saw `between`, but we have a couple of uses where we'd like to get the next 2, and next 4 holidays.

Thanks

[2016-02-20 18:29] ptrimble commented on #163
Hi @brentdodell, no, unfortunately there is no use case along those lines that I am aware of. I would be happy to treat this as a feature request, though, if you wouldn't mind expanding a bit on the actual use case details. It doesn't seem like it would be incredibly difficult.

Can you outline a few concrete examples? One or two is fine. That way I can see exactly what you expect and we can discu

[2016-02-20 19:15] ptrimble commented on #161
Small update: we have a PR that is addresses year cutoffs for holidays. That should get us closer to a solution. It can be found here https://github.com/holidays/holidays/pull/162

Once it is merged (just waiting on updated tests) I will see if I can fix the `gb_sct` definitions using the new functionality.

[2016-02-20 19:27] samstickland commented on #161
Great, that's fantastic news!

2016-02-20 19:15 GMT+00:00 Phil Trimble <notifications@github.com>:

[2016-02-21 17:10] ptrimble commented on #33
Addressed in above linked PR.

[2016-02-21 17:10] #33 closed

[2016-02-23 15:13] brentdodell commented on #163
This is kind of what I had in mind...feel free to tweak if need-be.
[code]

`holiday_count` is the number of holidays to return
`regions` is an array of the regions
`from` is the date from which to find the next `holiday_count` number of holidays.

In my mind, `from` should be an optional param, defaulted to today.

I originally had an `inclusive` param, to determine whether or not to include holi

[2016-03-04 01:59] ptrimble commented on #163
I *really* like this. I think this is a great idea. Let me take a stab at it soon, I think this is definitely doable.

Thanks for the suggestion! It's now on my official to-do list. :smile:

[2016-03-06 19:36] ptrimble opened #169 "Certain Canada holidays should be restricted by year"
According to comments left in the Canadian definitions there seem to be certain holidays that should only apply after a certain year. We now have this functionality so we should update the definitions to make them more accurate.

Holidays in question:
* https://github.com/holidays/holidays/blob/master/definitions/ca.yaml#L32
* https://github.com/holidays/holidays/blob/master/definitions/ca.yaml#L4

[2016-03-06 19:38] ptrimble commented on #161
Sorry for the delay, I started working on this but then realized that my work on https://github.com/holidays/holidays/issues/144 being completed will make this all a lot easier. :-/

Once that is done this is next on my list.

[2016-03-07 02:23] ptrimble opened #170 "Add Code of Conduct"
I know this is a small project but I feel strongly that a Code of Conduct should be added if for no other reason than to indicate my overt support for a friendly, open, and cooperative open source community.

I'll be adding something along the lines of the [Contributor Covenant](http://contributor-covenant.org/) in the coming weeks. I'm only waiting because I have a good head of steam going in my

[2016-03-07 12:48] ttwo32 commented on #169
Oh, i,m glad that i did add year range feature.

[2016-03-07 12:59] ttwo32 commented on #170
:smile:

[2016-03-13 17:33] ptrimble commented on #144
Another small update: I have done a LOT of refactoring and am nearly there. I am having some issues only with the JP holidays and how many nested custom methods calls are there. I am confident I can solve this soonish.

[2016-03-20 15:30] knut2 opened #173 "German informal holidays"
Hello,

I'm missing some (informal) holidays in the definitions for Germany, and modified the de.yaml definition in  https://github.com/knut2/holidays/commit/d3641f9c41890824d0d6c4821c93b468f63b6bb5

But I'm not sure if my changes fit the logic of the definitions in the gem.

Before I post a pull request I want to ask, if my changes would fit the general logic:

* easter sunday  and pentecost sund

[2016-03-20 18:07] ttwo32 commented on #173
Hello @knut2

Yes,I have added valid year feature https://github.com/holidays/holidays/pull/162 .

I have written how to use the feature in conversations https://github.com/holidays/holidays/pull/147 ,
and developed testing-code at test_custom_year_range_holiday_defs.yaml.

If you want to add one-year-holiday, you should use limited option.

example ( 2016,2018,2019 are limited holiday years at ju

[2016-03-20 18:09] ptrimble commented on #173
Thank you for the PR! I will take a look at this in the coming week. Sorry for the delay...I'm buying a house and so my personal time is very much affected by that process. I hope to get a PR out today for another issue and then begin tackling the open PRs and answering questions.

Thanks for your patience!

[2016-03-20 18:19] ptrimble commented on #173
Oh, oops! I thought this was a PR! How embarrassing. :smile:

I will still try to get to answering your questions this week so we can agree on a course of action.

[2016-03-20 19:31] knut2 commented on #173
No porblem, I wanted first to solve some problems before I post my PR.

In meantime I'm quite sure I detected a bug with year_ranges. I will open a new issue with a detailed description.

[2016-03-20 19:33] ptrimble commented on #173
Fantastic, thank you. That's a newish feature so it's entirely possible that there are things that we still need to shake out.

[2016-03-20 20:31] knut2 opened #174 "Bug with year_ranges in combination of different regions."
Preamble:
This is a follow up of #173 and you can find my changes in https://github.com/knut2/holidays/tree/reformationday2017DE

Background:
In some countries in Germany the "Reformationstag" is a holiday.
In 2017 is the 500 jubilee of reformation and this holiday is valid for whole Germany.

So I defined in de.yaml:

[code]

The generator.rb generates:
[code]

The year_range is ignored in this c

[2016-03-20 20:42] knut2 commented on #174
Sometimes it helps to explain the problem:
I have to do the change in the generator also in `Holidays::Definition::Repository::HolidaysByMonth#definition_exists?`

Now my test works correct.
I updated my branch.

[2016-03-20 21:27] knut2 commented on #173
I made a pull request with my changes: #175

[2016-03-21 04:58] ttwo32 commented on #174
@knut2 Sorry for failure with different regions.
That's a newish feature , so i am glad year_range is used in other region.
I appreciate your refactoring.

[2016-03-29 04:23] md5 commented on #144
@ptrimble if your refactored code is pushed to a branch somewhere, I'd be happy to help test. I'm running into this problem as well.

[2016-04-01 01:23] ptrimble commented on #144
@md5 Thanks, I am 99.5% done. The snag is that the `:jp` region has what amounts to 'nested' custom method calls, requiring me to do some late refactoring to make it all work. That's why there was a delay. This is the only region to do that. :(

I believe I've solved it and I am hoping to get a final PR out shortly. That should unblock a lot of this. Sorry!

[2016-04-02 21:18] ptrimble commented on #144
Okay! All changes pushed up. I have included how I tested it. At this stage I am in the cleanup/benchmarking/testing phase. I believe I have solved the problem root problem as stated by @angelim.

I will clean up the outstanding build issue, post some benchmarking numbers so everyone is clear how things are changing performance-wise, and then spend time merging the existing PRs and managing merge

[2016-04-02 21:21] ptrimble commented on #174
Thank you @knut2! I appreciate your PR and the extra details you provide. I will be looking at this shortly.

I am in the process of finishing up a rather large refactoring for https://github.com/holidays/holidays/issues/144. My plan is to handle all of the outstanding PRs (yours included) and then rebase against those changes on my branch. I will handle merge conflicts on my branch so others won'

[2016-04-10 21:25] ptrimble commented on #174
This has been addressed and will be released either with a `3.3.0` release alongside other definition updates or with the major version bump to `4.0.0`. Either way it will be released to the public in the next two weeks. Closing! Thanks @knut2!

[2016-04-10 21:25] #174 closed

[2016-04-10 21:25] ptrimble commented on #173
This was merged and will be available in a new version shortly. Thanks again @knut2!

[2016-04-10 21:25] #173 closed

[2016-04-17 00:11] ptrimble commented on #22
Hello all.

This is by far the oldest bug that I inherited when I took over this gem. I feel like I can safely state that I have this licked. Unfortunately the delay was because the solution required a large refactoring. We no longer simply store regions in a `@@cache` variable and we don't simply `require` regions when they are looked up. The gem still stores regions and caches in-memory (like `@

[2016-04-17 00:17] ptrimble commented on #144
Alright, final update before closing this issue: this has been fixed by the PR I mentioned above. I will be releasing version 4.0.0 sometime in the next few days, at which point I will close this issue. Based on my testing it is now fixed.

If anyone sees evidence that it is *not* fixed then please let me know here and I will reopen to investigate. Thanks!

[2016-04-17 22:13] knut2 commented on #144
Should Holidays.load_custom support also easter?
If yes, then please check my version https://github.com/knut2/holidays/tree/custom_easter. I extended the unit tests with a test for custom easter holidays.
The test fails with ` NoMethodError: undefined method 'call' for "easter(year)+1":String`

If this is a bigger problem, I would recommend to make only a remark in the readme _(Holidays.load_cust

[2016-04-18 04:18] ptrimble commented on #144
Hello @knut2! Yes, they should work. Your unit tests are great! I am going to steal it and commit it on my branch in your name if that is okay. 😄

To answer your question: yes, it should work, but the issue here is that I changed the definition format a little bit. The `easter(year)+1` function name will no longer work. The name of the function (plus the arguments) is what internally is used as th

[2016-04-18 04:23] ptrimble commented on #144
Just to make it clear, I wrote up some custom defs that used easter. Here:

[code]

Then I loaded up the gem and tested it:

[code]

I made a 'custom' Good Friday which is two days before easter and used the `easter(year)` method. Hopefully this is what you were looking for.

FYI, this specific thing was *not* working before the refactor so it was good for you to ask.

[2016-04-18 14:11] ptrimble opened #186 "`load_custom` method should not return the list of custom methods"
Currently the `load_custom` method simply returns the last thing we did in the method, which is to add the `custom_methods` to the in-memory repository. This is confusing and dumb. We should do one of the following:

* return 'nil'
* return the holidays that were just added so the user can see what was successfully loaded

I'm kinda leaning towards number 2 at the moment.

[2016-04-18 14:55] ptrimble commented on #186
Thinking about it more, this should go with my current refactor tied to https://github.com/holidays/holidays/issues/144 ([PR here](https://github.com/holidays/holidays/pull/179)). I highly, highly doubt that changing the response will break anyone's code but it *is* technically a breaking change. I should put them all together.

[2016-04-19 12:39] ttwo32 commented on #186
I prefer number 2. Because i can see the holiday what was successfully loaded. When method returned nil , i would think method was failed or conditions were invalid.

[2016-04-19 15:14] ptrimble commented on #186
👍 Great, thank you! That is what I was thinking as well.

[2016-04-23 19:11] ptrimble commented on #186
This has been handled by the latest commit in https://github.com/holidays/holidays/issues/144. Gonna leave this open until it's merged.

[2016-04-23 19:24] ptrimble commented on #186
Okay! v4.0.0 is out!

[2016-04-23 19:24] #186 closed

[2016-04-23 19:24] ptrimble commented on #144
Okay! Merged and released to rubygems.org. I'm gonna close this out, if anyone spots similar issues to this please comment here and I'll reopen. Thanks for all the feedback during this!

[2016-04-23 19:24] #144 closed

[2016-04-23 19:26] ptrimble commented on #22
4.0.0 is out! I'm gonna close this, please open a new bug after testing the new version and we can troubleshoot there.

Thanks for your patience!

[2016-04-23 19:26] #22 closed

[2016-04-23 19:27] ptrimble commented on #23
I've merged in v4.0.0, which is a large refactor. This is my next target since it is now the oldest bug that I have inherited.

[2016-04-23 19:43] ptrimble commented on #170
Added!

[2016-04-23 19:43] #170 closed

[2016-04-24 06:35] jufemaiz commented on #22
Hey @ptrimble thanks for the hard work!!!

[2016-04-28 21:44] ptrimble commented on #23
Okay! I spent some time looking at this and testing locally and as far as I can tell the core problem has been resolved. The code that handles loading of regions and definitions has changed significantly. I am going to go ahead and close out this issue. Please open a new issue if the problem (or a similar one) persists.

As an aside, once I work through the current crop of issues I am going to A)

[2016-04-28 21:44] #23 closed

[2016-04-29 21:39] ptrimble commented on #161
Hi @samstickland! Thanks for being SO. PATIENT. with me as I worked through the other refactors. The fix in the end was pretty simple thanks to the work done by @ttwo32 and the refactoring for the internal workings for handling date modifying functions.

If you would be so kind please take a quick look at the PR (https://github.com/holidays/holidays/pull/189) and make sure that my tests make sense

[2016-04-29 22:23] samstickland commented on #161
Ah, excellent, thank you so much! I will check it out over the weekend.

S

2016-04-29 22:39 GMT+01:00 Phil Trimble <notifications@github.com>:

[2016-04-29 22:28] ptrimble commented on #169
Addressed in https://github.com/holidays/holidays/pull/190

[2016-04-29 22:28] #169 closed

[2016-04-29 22:37] ptrimble commented on #133
I'm souring on this idea. I am going to leave this open but rename it. We need better top-level integration style tests but I don't think we should do it via cucumber. And I really don't think that we should worry about date-specific stuff. The definitions should be validated by their own tests. The overall integration tests should just confirm that the public API is still valid and not breaking.

[2016-05-02 11:42] samstickland commented on #161
Hi,

So it all looks OK to me, but I have just one question:

+    # St. Andrew's Day is considered a formal bank holiday 2007 and later.
It should show up regardless of whether
 +    # :informal is specified

Does this mean that from 2007 St. Andrew's Day shows up if you search only
with informal?

S

2016-04-29 23:23 GMT+01:00 Sam Stickland <sam@spacething.org>:

[2016-05-04 07:47] ttwo32 commented on #163
Hi @ptrimble @brentdodell .
I have sent PR next_holiday method.
Maybe , this method matches your thoughts.
Please review my PR https://github.com/holidays/holidays/pull/191.

[2016-05-04 23:21] ptrimble commented on #161
No, sorry, I can see how the comment is not entirely clear. What it means is that `St Andrew's Day` will only show up as a holiday if `:informal` is specified from 2006 and earlier. It will show up in either case from 2007 on.

Anything marked as `informal` is ignored in normal gem usage. Think of the `:informal` flag as saying 'give me all formal holidays PLUS any informal holidays that fall on t

[2016-05-06 06:40] samstickland commented on #161
Ah yes, that does make sense. Thanks!
El 5/5/2016 12:21 a. m., "Phil Trimble" <notifications@github.com> escribió:

[2016-05-06 13:50] ptrimble commented on #161
Cool, closing this out and merging! Thanks for taking the time to work through this with me.

[2016-05-06 13:50] #161 closed

[2016-05-08 00:46] ptrimble commented on #163
I'm going to write it here even though I wrote it on the PR as well but: @ttwo32's PR looks great! I think it almost exactly satisfies the use case that @brentdodell wrote out above. Once @ttwo32 and I come to an agreement on a few small nitpicks I had I'll merge it and get this out in a minor point release.

[2016-05-08 01:41] brentdodell commented on #163
Great to hear! Thanks @ptrimble & @ttwo32.

[2016-05-11 15:29] ptrimble commented on #163
This feature has been merged, I will get a release out that contains the additional functionality sometime this week.

[2016-05-11 15:29] #163 closed

[2016-05-17 17:45] jlsync commented on #160
If you have the countries gem installed then you can do something like this...

[code]
BTW, 'Christmas Day' does not seem to be listed as a holiday for Australia (:au).

[2016-05-21 23:21] ptrimble commented on #160
@jlsync Hm, interesting! Unfortunately one problem is that not all of our regions are currently ISO compatible, I don't think. Since I've taken over any new regions must be and I've been correcting them as I've found issues but I would have to do an audit to figure out which ones are 'incorrect' currently. Still a good option to have, though. Thank you!

To your second point, bah! I missed this in

[2016-05-21 23:23] ptrimble opened #193 "Australia (:au) does not have 'Christmas Day'"
Problem area: https://github.com/holidays/holidays/blob/master/definitions/au.yaml#L146-L156

With all of the sub-regions we don't have one set for the overall `:au` region. We should test this out to determine if somehow the parent region is covered by one of these or if we need an explicit `:au` entry.

[2016-05-22 09:39] ttwo32 opened #194 "next_holidays method returns empty arrays on May at jp region."
At jp regions, next_holidays method returns empry arrays on May.

[code]

I have surveyed a cause.
Problem line : https://github.com/holidays/holidays/blob/master/lib/holidays.rb#L154

When next_holidays was called, i have made from_date's date_driver only.
In my mind, we should make end_date's date_driver like between method,
and end_date's sholud be optional param, defaulted to `from_date >> 12`

[2016-06-03 16:39] onomated opened #195 "Unknown Region Error for some country codes"
Recently updated to v4.1 of this gem and getting UnknownRegionError for `be`, `bg`.

Usage:
[code]
The generated regions for these countries do not include the two letter country codes, even though the region modules include the two letter country codes as `defined_regions`.

These worked in v3 of the gem.

[2016-06-03 23:33] ptrimble commented on #195
Thank you for the report! I really appreciate it, especially since you definitely found regressions. 😨

I know what is causing the problem with `:be`. There was a previous pr/issue that wanted the gem to allow for french or dutch language options for languages for `:be`. We do not have internationalization yet and so the temporary solution was to split them into `:be_fr` and `:be_nl`.

I understan

[2016-06-03 23:46] ptrimble commented on #194
As we discussed via DMs I see the problem but I want to play with it a bit...I'm not sure I want to just add the `from_date`.

I'll try to get a PR up this weekend. Thanks!

[2016-06-04 00:14] onomated commented on #195
Thanks for the detailed analysis @ptrimble.  It was a simple change for me to specify the region+language and keep the gem as is.  So I'm good with the first option.  Only problem with that is other users of the gem may run into the same issue and spend time digging around to figure out what's wrong, so defaulting to one language can save time for other users, or just documenting this may suffice.

[2016-06-04 23:15] ptrimble commented on #195
Great, thanks! I'm going to close this issue and open a new one that details exactly what I want to do with the localization. Thanks again for the report, feel free to hit me up again if you run into any other issues.

[2016-06-04 23:15] #195 closed

[2016-06-04 23:55] ptrimble commented on #194
@ttwo32 Okay, I _totally_ see what you mean. Sorry, language barrier there. Your solution was the smart one, I went ahead and implemented it.

I just went ahead and did 12 months out without requiring anyone to submit anything new. I don't think this will have a performance impact. If it turns out we do then we can make the algorithm smarter.

Let me know what you think!

https://github.com/holida

[2016-06-05 00:33] ptrimble commented on #193
I am going to close this. After thinking about it more I don't even know if it is a _real_ issue. It seems that each part of Australia has different rules...if it turns out that there is an overall `:au` rule then let me know and we can discuss a solution. Until I know otherwise I am going to leave things as-is.

[2016-06-05 00:33] #193 closed

[2016-06-05 07:46] ttwo32 commented on #194
Thank you for refactoring.
I don't think this will have a performance impact.
Thanks!! 😄

[2016-06-06 12:59] ptrimble commented on #194
Great, once I release this change (it'll be version 4.2.0) I'll close out this issue. Thanks!

[2016-06-06 14:01] ptrimble commented on #194
This has been released as v4.2.0. Thanks again @ttwo32!

[2016-06-06 14:01] #194 closed

[2016-06-06 20:24] jonathanpike opened #199 "Romanian definition file is titled as Austrian definitions"
This is a super small issue, which you can see [here](https://github.com/holidays/holidays/blob/master/definitions/ro.yaml#L1).

Should be corrected to say **Romanian Holiday Definitions for the Ruby Holiday gem.**

[2016-06-07 03:56] ptrimble commented on #199
Thanks! I went ahead and updated it in commit https://github.com/holidays/holidays/commit/f137baae1194a9fcd86abd6688f0243ff8e1cae0. Going to go ahead and close this out, let me know if you find anything else!

[2016-06-07 03:56] #199 closed

[2016-06-07 04:18] ptrimble opened #200 "`use_case` namespace is vague"
When I originally started refactoring this gem I found that there were various 'use cases' that I couldn't fit into any other cubbyhole. In order to keep myself moving with the refactor I simply named the namespace `UseCase` and moved on. I still think this was the right decision at the time but now I am thinking about splitting up the various use cases and trying to find a better home for them.

[2016-06-24 05:10] ptrimble opened #203 "README should be updated with new core extension methods"
PR https://github.com/holidays/holidays/pull/198 has new core extension methods for `Date` and `Time`. We should update the README to highlight these new methods. I forgot to do it when I initially merged the version bump. Sorry! 😢

[2016-07-03 16:41] ptrimble opened #204 "Definition Functions should return 'date' or 'integer' only"
There are some functions that I have found in various definitions that can return a 'nil' result, which apparently means that the date should not be added to the returned dates. I think that this is confusing and should be changed. We should institute a rule that all custom functions must return either:

* a modified 'date' that can be used
* an integer that represents a day (mday) that can be use

[2016-07-10 01:26] ptrimble commented on #200
PR that performs the initial refactor is here: https://github.com/holidays/holidays/pull/205

I believe I will close this out after that is merged and then submit a separate PR to totally kill the 'use case' directory. I will move the 'Between', 'YearHoliday', 'NextHolidays', etc use cases into their own namespaces and split out any logic (like validation) into sub-namespaces. Then we will no long

[2016-07-10 12:23] ttwo32 commented on #200
@ptrimble I agree with your thoughts. 👍

[2016-07-12 04:20] ptrimble opened #206 "Wiki for this project is out of date"
I didn't even realize that there *was* a wiki for this repository. I'll clean it up and make it point to the repo since we now mostly have good READMEs.

[2016-07-21 04:09] ptrimble commented on #200
Closing this out since I merged the initial refactor. I will do the other work in a similar vein.

[2016-07-21 04:09] #200 closed

[2016-08-03 07:50] daBayrus opened #211 "Friday Before the AFL Grand Final 2016 isn't returned as a holiday"
running `Holidays.on(Date.civil(2016,9,30), :au_vic, :observed)` returns an `empty array []` ..

expected output is `[{:date=>Fri, 30 Sep 2016, :name=>"Friday before the AFL Grand Final", :regions=>[:au_vic]}]`

[2016-08-06 16:55] ptrimble commented on #211
Thank you for the report! I will look into this and figure out what is going on. We have a custom calculation for this specific holiday, there must be something wrong.

I'm going to google for it but I assume you live in Australia. Do you have a link to a resource that specifies the exact rules for this holiday?

[2016-08-06 16:56] ptrimble commented on #211
Oof, I *just* looked at what we are doing. It's obvious why this does not work:

[code]

This is only set up for 2015. At the time I must have assumed that this was a one-off holiday but it apparently happens every year? @ghiculescu if you are willing can you shed more light on this holiday? As an American I'm left googling for information,which might not be reliable.

[2016-08-06 17:03] ptrimble opened #212 "Drop support for jruby 1.7"
During a recent update of one of our development gems (coveralls) we discovered that one of the underlying gems that coveralls relies on dropped support for jruby 1.7. To address this we locked coveralls at 0.8.11 [here](https://github.com/holidays/holidays/blob/master/holidays.gemspec#L22) so that we ourselves do not drop support until we perform a major version bump. I have also opened issues wi

[2016-08-06 21:57] ghiculescu commented on #211
Looks like it's a permanent thing now - http://www.business.vic.gov.au/victorian-public-holidays-and-daylight-saving/victorian-public-holidays - though on a different date each year. I'm on the road but can update it when I'm back. Or either of you guys can - it's just a matter of hard coding in another date for this year.

Alex Ghiculescu
alex@tanda.co

Sent from my iPhone

[2016-08-11 04:01] ptrimble commented on #203
Addressed in https://github.com/holidays/holidays/pull/213

[2016-08-11 04:06] #203 closed

[2016-08-11 04:30] ptrimble commented on #211
Thanks @ghiculescu! I went ahead  and added 2016.  I don't see anything for 2017 yet so I'll just wait, I suppose. Here is the PR: https://github.com/holidays/holidays/pull/214

[2016-08-11 04:36] ptrimble commented on #211
Merged, I will release sometime shortly. Thanks!

[2016-08-11 04:36] #211 closed

[2016-08-26 03:09] bluekite17 opened #217 "how to use Holidays.load_all?"
rake aborted!
NoMethodError: undefined method `load_all' for Holidays:Module

installed:
ruby-2.3.1/gems/holidays-4.6.0

not found method 'load_all' in 'ruby-2.3.1/gems/holidays-4.6.0/lib/holidays.rb'

[2016-08-26 15:56] ptrimble commented on #217
Hi @bluekite17, this method was removed from the public API in version 4 of the gem. It was never really intended for public use and was only available because of a misunderstanding on how class methods interact with the `private` keyword.

I see now that it is shown in the comments in `lib/holidays.rb` and I will remove it to make it more clear that it is not around anymore. Sorry about that.

Ca

[2016-08-27 07:01] bluekite17 commented on #217
Oh.. i see.

Thanks for answer :)

[2016-08-27 07:01] #217 closed

[2016-09-08 14:59] magicalbanana opened #220 "How are the holidays updated"
How are the holidays updated on this gem?

[2016-09-08 15:20] ptrimble commented on #220
And I *thought* recognized your username. I work at @sittercity. 😄

[2016-09-08 15:28] magicalbanana commented on #220
Hehehe. Thanks for the quick response.

[2016-09-08 15:31] ptrimble commented on #220
No problem! Going to go ahead and close the issue. 👍

[2016-09-08 15:31] #220 closed

[2016-09-11 23:22] ghiculescu opened #221 "Is there a way to lazily load only the regions I want?"
Requiring the holidays gem in full via Gemfile takes a fair bit of memory for what it is. (using [`derailed`](https://github.com/schneems/derailed_benchmarks#memory-used-at-require-time))

[code]

It would be good to be able to only require regions you need. For example, I only care about `['au', 'jp', 'nz', 'za', 'gb', 'us']` so it would be great if I could do this in my Gemfile:

[code]

and the

[2016-09-14 22:14] ptrimble commented on #221
Sorry for the delay, I just moved into my new house. 😄

Yes, you are! I made this change in the last major version bump. To be honest it was at the end of a huge refactoring bent and I just...made the call to do it to get over the hump. I 100% agree that lazy loading is more efficient.

Let me think about this for a bit. Now that I have some time and perspective I might have other solutions that w

[2016-09-15 00:03] ptrimble commented on #221
Soo.....this turned out to be easier than I thought. The refactoring that has been done makes this a lot safer to do. Check out my PR: https://github.com/holidays/holidays/pull/222

This will bring back the lazy loading with no outward change to users. I don't think anyone really cared about whether it was lazy loaded or not so I don't mind making this change.

I remember why I did this originally

[2016-09-15 00:46] ghiculescu commented on #221
looks awesome @ptrimble (minus the red build)

[2016-09-16 03:39] ptrimble commented on #221
Thanks Alex! I'll merge this ASAP. Please hang tight while I add in some other stuff that I want to do with the major version bump. I'm trying to knock out a few things that I wanted to do on the next major version bump so I'll bundle a few together at once. 😄

[2016-09-21 12:34] ironsand opened #225 "`LocalJumpError` when the period is too long"
Hi,

I got a error when I run `Holidays.between(Date.civil(2000, 1, 1), Date.civil(2018), :jp)`

[code]

but if I change `2000` to `2005`, then it works fine.

[code]

I'm happy if I can use it from `2000`. Thanks

[2016-09-21 18:04] ptrimble commented on #225
Thanks for the report @ironsand! We will look into it this week. If we can figure it out quickly I'll do a pre 5.0 bug release so you can get the fix without having to manage a major version bump.

@ttwo32 Can you also look into this since it is using `jp` holidays?

[2016-09-21 19:11] ttwo32 commented on #225
Hi @ironsand !! Thanks for the report.I will look into this issue .So please wait .:D

@ptrimble Sure.I will check this issue.:smile:

Side note: I am happy that this gem is used in japan.:D

[2016-09-24 16:44] #225 closed

[2016-09-24 17:12] ptrimble commented on #225
@ironsand I am releasing 4.7.0 shortly, which should have this issue resolved. Thanks again for reporting!

[2016-09-24 17:24] ttwo32 commented on #225
@ironsand Thanks again!!  Please repporting again when some issues happen.:smile:
ありがとうございました‼また何かあれば報告してください！！

[2016-09-24 17:58] ironsand commented on #225
@ptrimble @ttwo32 Great! Thanks a lot!

[2016-09-24 18:47] #221 closed

[2016-09-24 18:47] ptrimble commented on #212
This was addressed in the above PR.

[2016-09-24 18:47] #212 closed

[2016-09-26 13:26] espen opened #230 "Load all regions on demand"
[code]

Is there any way to load all regions in v5 without calling a specific date method?

[2016-09-27 00:10] ptrimble commented on #230
😱

That is a pretty egregious oversight, isn't it. I apologize!

I will work this week on finding a solution so that you can 'preload' everything if needed so we can satisfy both use cases. Sorry again!

[2016-09-27 03:48] ttwo32 commented on #230
Oh．．． 😱
@espen Sorry again.

[2016-09-27 11:02] espen commented on #230
No worries, I'm using the previous version which works perfectly. Thanks for the work on a very useful gem :)

[2016-09-28 19:48] espen commented on #206
Just delete the wiki?

[2016-09-28 19:52] ptrimble commented on #206
@espen Yeah, not a bad idea. Do you think the README and related docs do a good enough job explaining stuff? I personally think so but...I also spend a lot of time in the code, so my opinion is kinda biased.

@ttwo32 Any thoughts on deleting the wiki? Is it necessary?

[2016-09-28 20:50] espen commented on #206
The wiki info is outdated (thus confusing) and it seems like https://github.com/holidays/definitions/blob/master/SYNTAX.md gives a good explanation.

[2016-09-28 20:54] jordan-norlen opened #232 "Christmas Calculation Off by 1 for 2016 in :us Region"
As far as I can tell, the Christmas calculation is currently returning 2016-12-2**6** (when it should be 2016-12-2**5**) for the date of Christmas within the US region.  This also appears to (though I haven't directly validated it) affect New Year's as well.  At first I thought I was doing Timezones incorrectly... but even with a reduced repro and no TZs in play it seems to be incorrect.

[code]

[2016-09-28 20:55] ptrimble commented on #232
Ooof. Thanks for reporting this @jordan-norlen! I will look into it this week with @ttwo32 and we'll get back to you. Not sure what's going on yet.

(I just happened to be looking at issues and that's why I responded so fast, I'm not a robot I swear)

[2016-09-28 20:57] jordan-norlen commented on #232
lol, that was amazing.  :)  Thanks @ptrimble!

[2016-09-28 20:59] ptrimble commented on #232
No problem! 😄

My guess is that our 'observed' logic has some issues. The `observed` stuff is supposed to move the date to another day depending on what's going on with a weekend, for example, so perhaps there's a bug in there somewhere. I'll investigate and get back to you.

[2016-09-28 20:59] ptrimble commented on #206
I'm inclined to agree. Good argument.

@ttwo32? You agree?

[2016-09-28 21:07] jordan-norlen commented on #232
Well now I feel bad.  :)  I just noticed and grokked what :observed does (*been tracking a 'bug' in our codebase*).  It totally makes sense that the code I posted is moving Christmas to the following Monday (25th->26th) as that's exactly what we told it to do.

I'm going to go ahead and close this and thank you for an awesome library and being so speedy in your response.  :)

[2016-09-28 21:07] #232 closed

[2016-09-28 21:12] ptrimble commented on #232
Oh okay! That makes sense. Don't feel bad, I personally had trouble with it when I first picked this library up.

Let us know if you do spot weird behavior, though...that part of our codebase is one that doesn't have a lot of good test coverage (not enough, anyway). I refactored a lot of this gem over the last year but the `observed` logic and some of the built-in functions (like `easter`, etc) we

[2016-09-29 12:21] ttwo32 commented on #206
@ptrimble Sure, i agree.:+1:

[2016-10-09 05:25] ptrimble commented on #206
Done! Closing this issue, thanks @ttwo32 and @espen!

[2016-10-09 05:25] #206 closed

[2016-10-10 04:05] ptrimble commented on #230
Sorry that this is taking so long! These last two weeks have been really crazy for me, personally, so things have been slower than I would like. I *am* still investigating this but I'm not entirely sure when I'll have an answer. Thanks for your patience!

[2016-10-10 04:27] ptrimble commented on #230
Actually! :nerd_face:

I realized that I could take some previous code and implement this. What do we think @ttwo32 and @espen?

PR: https://github.com/holidays/holidays/pull/233

[2016-10-10 05:10] ttwo32 commented on #230
@ptrimble I agree.Thanks for your work.:+1:

[2016-10-11 20:56] ptrimble commented on #230
@espen Does this new `load_all` method work for you? Is the name clear?

[2016-10-22 23:42] ptrimble commented on #230
@espen Friendly poke! I would like to make sure this kind of method works for your use case before I add it to our API. Once it's in there I won't be able to change/remove it without a major version bump. 😄

[2016-10-23 18:09] espen commented on #230
Sorry been busy
![14700920_10157585354840092_3642189891317902741_o](https://cloud.githubusercontent.com/assets/32258/19628336/adacdfac-995b-11e6-98d0-ea203467b2cb.jpg)

I tried out this branch in my project locally and it's working great with `Holidays.load_all` in an initializer. Thanks!

[2016-10-23 18:09] #230 closed

[2016-10-23 18:22] ptrimble commented on #230
Ooof, that's beautiful. Where is that? I'm very jealous. 😃

No worries at all, it's just been sitting. No big deal. Thanks for the feedback!

[2016-10-24 12:24] filipegorges opened #234 "Holidays.available_regions raises NameError: uninitialized constant Holidays::REGIONS"
Hello,
Upon calling `Holidays.available_regions` on a console, it raises a  `NameError: uninitialized constant Holidays::REGIONS`, am I doing something wrong?

Thanks!

[2016-10-24 14:06] ptrimble commented on #234
Hi @filipegorges! This was recently addressed in this issue: https://github.com/holidays/holidays/issues/230

Unfortunately I made a mistake with the recent v5.0.0 release and removed the ability to 'load all' automatically, not thinking that perhaps some people would be relying on it. This was my mistake, I apologize!

I have added a `load_all` method with this PR: https://github.com/holidays/hol

[2016-10-24 22:34] joallard opened #235 "Making holiday names I18n-able"
As a resident of a bilingual country (Canada), I need to display holidays for my users in the language of their choice. I realize it makes sense, for instance if I look at France, to just have the names in the language of the country. I don't think it'd be *that* useful for instance, to have France's holidays translated in English (or else). But for some multilingual jurisdictions, it's a little n

[2016-10-24 23:26] joallard commented on #235
In addition, it would make storage in general easier, not only translations. If I add in one of my models "we're closed on Boxing Day", I probably want to be able to have some sort of record saying `{holiday: "ca/boxing_day", closed: true}`, instead of indexing it with "Boxing Day".

[2016-10-25 11:36] espen commented on #234
I'm fine with running `load_all`. But readme.md needs to be updated as it currently uses an example that will raise an error. Another solution is that either 1) `available_regions` runs `load_all` if no regions are loaded. In my case that would be expected behaviour as per earlier usage. 2) `available_regions` returns an empty array or nil do avoid the error.

[2016-10-25 23:17] joallard commented on #235
I'll share with you the code that is currently needed to do this:

[code]

[2016-10-27 21:08] ptrimble commented on #235
Hello @joallard, sorry for the radio silence, I have been sick this week so I'm behind on almost all of my obligations.

This is a very good suggestion! To help me understand a bit better, could you provide some usage examples? I'm having a bit of trouble understanding how the lookups would happen from the user's perspective.

The reason I ask for more clarity is that I've had i18n stuff on my min

[2016-10-27 21:10] ptrimble commented on #234
@espen I definitely need to update the README, that's on me. Sorry!

To your second suggestion, I'm leaning towards having `available_regions` run `load_all` in all cases. From a user's perspective it makes sense that by running `available_regions` I am asking the gem to tell me about **all** of the regions that it knows about. Right now that is only accomplished by loading everything (unless we c

[2016-10-27 22:09] joallard commented on #235
No worries @ptrimble, that's actually still a good turnaround!

Okay, so the way I filed this, there are two separate concerns here:

(1) is to be able to reference a holiday in the book using a symbol (ie. in code parlance). So for example I want to be able to store `be/easter` in my DB if my user has indicated they take a vacation on Easter. I don't want the DB to care about the pretty-name Pâqu

[2016-10-28 12:36] espen commented on #234
I'm fine with it loading everything. Could another solution be to just return all the region symbols such as listed here: https://github.com/holidays/holidays/blob/7e061ea30e920d93d1bfb39eaf1b212973316199/lib/generated_definitions/REGIONS.rb#L3, and not actually load them ? Might be confusing though.

Anyways, I think the important thing is that it's possible to load_all and that the method doesn'

[2016-10-31 08:40] ttwo32 commented on #234
@ptrimble @espen I agree with updating README , too.
I think it's better to return empty or nil or raise customize error msg(ex. 'No regions are loaded.') unless we come up with la less memory consumption.

[2016-11-04 04:59] ptrimble commented on #234
Hey all,

I've pushed up a PR that I think addresses this. I went with @espen's original idea, which is to require the 'REGIONS' file only. This way we report to the user what we have available and, when they actually call it, we load it.

I'm not 100% sure I want this behavior going forward but the main point that I wanted to nail down was that we accurately reported the region symbols we support

[2016-11-06 03:11] #234 closed

[2016-11-06 03:14] ptrimble commented on #234
Okay! Version 5.1.0 is out. This should resolve the error @filipegorges. Thanks for your patience!

[2016-11-08 15:14] juggy commented on #235
Adding the translations to the definition file is not the ideal way. You should rely on the i18n system to do this. That way if you include the default naming in the gem, I can always change it in my i18n yml file.

[2016-11-08 16:15] filipegorges commented on #234
Great! Thanks guys!

[2016-11-12 06:26] ttwo32 commented on #235
@ptrimble I like to have a more common i18n and support multi language.
Thinking About multilange definition(ex.Belgium ), Ideally they should be included one file.
Because that is simple.
Aside translation problem, it's good idea that we make holiday name  referenceable.

[2016-11-14 15:58] UnConundrum opened #240 "Exclude certain holidays"
It would be nice if the custom list of holidays could also override or exclude standard holidays, or change their type.

[2016-11-14 19:12] AnotherJoSmith opened #241 "Caching of Holidays has either a negligible or a negative performance impact."
Hello! Thanks for your work maintaining this great gem!

I've been looking into how the caching functionality affects performance. I have noticed that setting up the cache has at best no performance benefits and at worst can slow down lookups for holidays. [I've been using this script with minor tweaks to get the results](https://gist.github.com/AnotherJoSmith/ffdb9dcedf4603f0117d6c99904f3aa5). Th

[2016-11-14 22:55] ptrimble commented on #241
Ooof! Nice catch! I inherited this particular piece of functionality and I will readily admit that I have done zero testing around it. Let me dig in and get back to you.

[2016-11-14 22:56] ptrimble commented on #240
@UnConundrum Ooooh, interesting! I _think_ I understand what you mean, but could you provide a simple use case of what you are talking about? I think this is doable if I am understanding correctly but I don't want to muck things up by getting your suggestion wrong.

[2016-11-14 23:04] ptrimble commented on #235
I hear the feedback being given and I understand why having the translations in the definitions is problematic. Let me think about this for a bit and come back with another concrete responses based on what we have said.

Side note: my wife is due to deliver our first kid on December 16th so things are a bit nuts for me at the moment. I'm not sure how my schedule will look in the coming weeks so I

[2016-11-14 23:17] UnConundrum commented on #240
I use a combination of Holidays and Business_Hours in a rails application to track employees' sick and vacation days.  When a sick day fell on Veteran's Day, the app failed to include the day in the calculations because it was non-business hours.  We remain open on Veteran's Day,  so, for us, it was business hours or a non-holiday.  I fixed the situation by manually changing us.rb and northamerica

[2016-11-14 23:21] ptrimble commented on #240
Ah! Totally get it. This is very similar to the use case I had when I first started contributing to this gem. The company I worked for had special company-only holidays, that's why I added the 'load_custom' method. The difference is that I wasn't 'overriding' existing definitions but it makes sense to want to do so.

But what you are saying totally makes sense. The issue here is how we load the de

[2016-11-21 16:20] slucaskim opened #244 "Canada yaml definitions updated, but not generated definitions"
Hello, I found that some weekend rules for Canada national holidays were wrong in the generated definition, so I went to the yaml file in the definitions repo. I found that the issue was actually fixed there 6 days ago, but the generated definition in the holidays repo hasn't yet been updated. Is this something you guys have to do; what do we do in this scenario?

[2016-11-21 16:22] ptrimble commented on #244
Yes, sorry, that's on me. Right now it is something I need to do and I just lost track of it this weekend. I'll get a release out this evening so we're all up to date.

[2016-11-21 16:24] slucaskim commented on #244
No problem, if it's ok with you, I can try making a PR for this?

[2016-11-22 23:53] ptrimble commented on #244
I'm releasing 5.2.0 right now, which will include the updated definitions. Sorry for the delay!

[2016-11-22 23:53] #244 closed

[2016-11-23 23:17] AnotherJoSmith commented on #241
Found out what the issue is. There is a misuse of the splat operator for options which results in the options array getting mutated everytime it gets passed through a method.

For example when I call cache_between, the following methods get called
[code]

However when I call `Holidays.on(Date.today, :ca)`, the following happens:

[code]

Most of the splat operators will need to be removed, as it o

[2016-11-27 04:05] ptrimble commented on #241
I merged this PR and will release a bug update shortly.

[2016-11-27 04:05] #241 closed

[2016-11-27 04:05] ptrimble commented on #241
Oh, and thank you again! 😄

[2016-11-27 08:34] chinito commented on #107
+1 from me too

[2016-11-27 08:41] chinito opened #250 "subregions get lost if more than one underscore"
So, the following happens:

:de contains all holidays from Germany, correct
:de_by contains all holidays from Germany and those from Bavaria, correct
:de_by_aux contains all holidays from Germany, and the one from Augsburg, but looses all Bavarian Holidays.

So xx_yy_zz is equally treated like xx_zz. They both only inherent from the first parent, but not from the second.

I now see two possibiliti

[2016-11-30 00:23] ptrimble commented on #250
This is an excellent catch! I am reviewing your PR now, thank you! I'll get back to you. ❤️

[2016-12-12 00:27] nello opened #251 "Using load_custom overrides all other holiday definitions"
Hi,

Firstly apologies if I'm somehow using the library incorrectly, but I'm seeing very weird behaviour when I try to add in some extra holidays by using load_custom().

If I use Holidays.between(Date.today, Date.today + 1.years, :au_vic) to return the holidays for the next year for Victoria, Australia I get a nice list of holidays:

[code]

That unfortunately is slightly wrong because the defini

[2016-12-12 00:31] nello commented on #251
Ah! I have a clue. If load_custom() is the first call to the library, it doesn't seem to load the default rules. I think that's just a bug, right?

[2016-12-14 04:35] #250 closed

[2016-12-15 06:54] nello opened #252 "Doesn't work for Australia."
In Australia we have 2 Jan 2017 as a public holiday based on the holiday being the Monday after a Sunday public holiday. Unfortunately, Holidays.on(Date.civil(2017,1,2), :au) does not return that day as a holiday.

Looking a bit deeper, Holidays.between(Date.today, Date.today + 6.years, :au) returns hardly any of the relevant holidays. Holidays.between(Date.today, Date.today + 6.years, :au_vic) is

[2016-12-16 22:33] ptrimble commented on #252
Ooof, thank you for reporting this. Let me test right now and see what is going on.

[2016-12-16 22:38] ptrimble commented on #252
I'm gonna do this in phases, if that's already. 😄

For your first point (`Holidays.on(Date.civil(2017,1,2), :au) does not return that day as a holiday`): this is actually expected. This gem has the concept of 'observed' (more details [here](https://github.com/holidays/definitions/blob/master/SYNTAX.md#observed)). Technically, the actual holiday is on 2017, 1, 1. For example:

[code]

To get it on

[2016-12-16 22:42] ptrimble commented on #252
For your second point, this a bit harder. I'm not quite sure how to respond without a specific example of a command and a specific holiday that you expect but isn't present. Could you provide an example of what you expect to see but isn't present when running the `.between`?

One issue I see is that if you run with `:au` only you will NOT get `:au_vic`, for example, You have to specify `:au_vic` t

[2016-12-17 13:05] nello commented on #252
Hi,

Firstly, thanks for taking the time to respond; your kindness is much appreciated.

The `:observed` flag definitely isn't what I expected. When requesting a list of holidays, I was really expecting to be returned a list of the non-work days, which (I guess) includes all observed holidays. My use case was an attempt to find the next working day, i.e. avoid bank holidays, so this distinction is

[2016-12-17 13:14] nello commented on #252
A little more thought on this leads me to wonder, I think the way I'm expecting the library to work (somewhere in the back of my mind) is for `:au` holidays return *all* Australian holidays, i.e. the superset that contains all the holidays for all states. Any regionality could then be provided on a per-holiday basis.

I realise (now) that it's not the way this library works, but it *is* what I wou

[2016-12-18 05:30] ghiculescu commented on #252
Hi @nello, we have this in a Rails initializer, because we have a similar use case to you in just caring if the day is a workday or not, rather than which specific holiday is the cause.

[code]

This lets you safely call `Date.today.holiday?(:au_vic)` and get a `true` if it's an actual, or observed, holiday.

-----

In response to https://github.com/holidays/holidays/issues/252#issuecomment-267762

[2016-12-27 10:52] achr3f opened #254 "Failed test for `test_year_holidays_without_specified_year`"
<img width="778" alt="capture d ecran 2016-12-27 a 11 47 32" src="https://cloud.githubusercontent.com/assets/1219738/21498182/ab49667a-cc2a-11e6-8c81-61ffd558d7ff.png">

the `Holidays.year_holidays([:ca_on])`  return always an empty Array

[2016-12-31 09:42] ttwo32 commented on #254
Thank you for reporting this issue.:)
I had known this problem before 4 days ago.
Last holiday of :ca_on region in this year is Dec 26.Between Dec.27th and Dec.31th in each year ,this test case will fail.
I will fix this issue so please wait few days.:)

[2017-01-06 06:01] ttwo32 commented on #254
@achr3f I have fixed this issue. Please checkout HEAD version from master .:)

[2017-01-06 06:01] #254 closed

[2017-01-06 07:02] achr3f commented on #254
@ttwo32   Thx,  good job

[2017-01-27 11:32] martingjaldbaek commented on #160
I went through the symbols and found the names for each of them and put them in a hash in this [gist](https://gist.github.com/martingjaldbaek/c0a378131790b6565f42818c8f893598). (It's already slightly out of date with the latest changes to the [definitions](https://github.com/holidays/definitions) from a month ago but should be quite fast to clean it up).

A bit of feedback about things I discovere

[2017-02-07 01:57] ptrimble commented on #251
Hi @nello! Thanks for your patience. I haven't had a chance to look at this but I hope to do it soon. My wife had a baby in December and I only just now getting back onto some kind of schedule that will allow dev work. I'll get back to you!

[2017-02-07 01:58] ptrimble commented on #240
Hi @UnConundrum! Thanks for your patience. I haven't had a chance to look at this more but I hope to do it soon. My wife had a baby in December and I am only just now getting back onto some kind of schedule that will allow dev work. I'll get back to you!

[2017-02-22 14:27] williamweckl commented on #251
+1 Having the same problem here.

[2017-02-23 22:55] ppeble opened #262 "Clean up coverage comments"
This has been happening for a while now but something changed somewhere and now we are receiving nearly 10 emails and GH comments per test run on Travis CI. I think it's doing it once per version of Ruby we are using. This is dumb.

I think the comments are good but we should only show it once.

[2017-02-25 05:28] MDes41 commented on #251
This issue seems to be closed @williamweckl, I am trying to recreate and I am getting the correct date I assume.

[code]

[2017-02-25 07:26] MDes41 commented on #251
I recreated the issue and fixed it by adding ```Factory::Finder.between.call(Date.today, Date.today, :au)``` to top of the method in load custom.  I assume you could make a blank file and have the same functionality as long as you add a dummy region.  Seems like a hack but seems to fix the problem

[2017-02-26 12:14] ttwo32 commented on #262
I agree with your thoughts.
It is a little noisy.

When I have timem, I will investigate this too.

[2017-03-16 13:01] jonathanpike commented on #107
I'm going to be the dissenting voice in this discussion and say that I think it would be better to keep the  test suite as-is.  While rspec's DSL is great and it has a lot of features, the simplicity and default "Rubyness" of Test-Unit is much easier to get my head around.  Plus, converting the test suite would be a lot of extra work.  I guess it comes down to a cost/benefit analysis -- are the fe

[2017-03-17 07:02] matkoniecz opened #264 "Example returns unexpected value"
returns `False`.

Note that readme has

To check if there are any holidays taking place during a specified work week:

[code]

I am unsure it is a regression or a documentation bug.

[2017-03-17 07:06] matkoniecz commented on #264
Hm, I can't get `any_holidays_during_work_week` to return `true`.

[code]

All of that should return true, holidays are listed in `Holidays.between(Date.today, Date.today + 365*2, :pl, :observed)`.

[2017-03-18 02:59] ppeble commented on #107
Thanks for the feedback, everyone. I'm gonna leave this open for a bit but...I'm basically coming to terms with the fact that, as a new dad and someone with a fulltime job, I just don't think I'll ever truly have the bandwidth to do this entirely unnecessary change. And as @jonathanpike pointed out, what are we really gaining? Yes, I love rspec and I like it more than Test-Unit, but I don't love i

[2017-03-18 03:00] ppeble commented on #264
@matkoniecz Thank you for the issue report! I'll try to take a look at this over the weekend to see what is going on.

[2017-03-18 04:06] ppeble commented on #251
Okay, I see the issue. I am going to write it down here so I won't forget it later in case I can't fix it tonight.

The relevant bit of code is here: https://github.com/holidays/holidays/blob/master/lib/holidays/finder/context/parse_options.rb#L53-L67

Unfortunately `parse_options` is one of the handful sections of essentially unrefactored code that still exists in the app. This and the code gener

[2017-03-18 04:42] ppeble opened #265 "Region for 'Jersey' / 'je' not loaded as expected"
There is a problem in some assumptions in how regions are loaded. I don't know if this is a regression or what.

Here is the command:

[code]

I don't see how this could EVER work without first calling some `gb*` region first. The way we load regions is heavily dependent on file names. This means that `je` has no idea that it should look in `gb.rb` to find the definitions it needs.

I don't know h

[2017-03-18 04:42] ppeble commented on #265
As an aside, we do have an integration test to cover Jersey but...the test calls other `gb` regions first. This is why it passes. It wouldn't work otherwise.

[2017-03-18 05:39] ppeble commented on #265
Before I forget: I think we can solve this by generating a hash of sorts into `REGIONS.rb`, that is also auto-generated. Maybe a hash that has every region as a key with its containing region(s) in it? I don't think that would be too difficult to produce and it would be quick since it would be a hash lookup.

[2017-03-18 07:59] ppeble opened #266 "Test out `:any` regions"
This is probably not in my best interest but I'll write it down anyway: we should test what happens when we pass in `:any` as a region instead of a 'valid' region. I have a gut feeling that it's not doing what we expect. We should use this issue to document what it is doing today and then discuss whether that is what we expect/want.

This is a good initial issue for first-timers! All you have to i

[2017-03-18 08:12] ppeble opened #267 "Better document how we handle 'wildcard' regions"
We have functionality in the gem that allows for users to enter regions like `:au_` but we do not do a good job with documenting what exactly happens in this case. A good PR for an beginner is to document exactly what happens in different scenarios/regions/dates and modify the README with examples so new users will be more familiar with the behavior of the gem.

NOTE - I have a feeling that the cu

[2017-03-18 08:13] ppeble commented on #133
I'm going to close this. We have 'integration' tests that we can improve upon but I don't think it needs its own issue.

[2017-03-18 08:13] #133 closed

[2017-03-20 10:03] Anjana-arun commented on #266
Hello!
 I get a blank line while using `:any` without using any region before it.
 After using `:au` region I get,
`{:date=>#<Date:2016-01-01 ((2457389j,0s,0n),+0s,2299161j)>, :name`
`=>"New Year's Day", :regions=>[:au]}`

After using `:au`,` :ca`,
`{:date=>#<Date:2016-01-01 ((2457389j,0s,0n),+0s,2299161j)>, :name`
`=>"New Year's Day", :regions=>[:au, :ca]}`

[2017-03-20 15:22] ppeble commented on #266
@Anjana-arun Hello! Thank you for the feedback, I appreciate it!

This is...not ideal. In my mind if you send in `:any` it should all regions that have a holiday on that date. Does that match up with how everyone else sees it?

I think I know what it happening. I believe it's related to https://github.com/holidays/holidays/issues/251 and how we lazy-load regions. All of the issues are surrounding

[2017-03-21 04:44] ttwo32 commented on #264
@matkoniecz Thank you for the issue report.:)
And I'm sorry for the delay in my response.
I'll try to take a look at this too. :smile:

[2017-03-21 06:35] Anjana-arun commented on #266
@ppeble, I do believe what you are saying is right. The expected  output must be the list of all regions having a holiday on the specified date.
Its a great pleasure to be of help.Infact, this was my first comment replying to an issue.

[2017-03-24 19:15] ppeble commented on #266
Thanks again @Anjana-arun! Glad that you decided to contribute. 👍

About this issue: I think that this is a bug. I don't think `:any` does what we expect it to do at all. For example:

[code]

Don't we expect this to return every single region that has a holiday on 2016/1/1? What else would `:any` mean in this case? Based on what @Anjana-arun said above, as a new user of the gem you would expect t

[2017-03-24 19:17] ppeble commented on #264
@matkoniecz Small update: I've been digging into https://github.com/holidays/holidays/issues/251 and I'm wondering if the knock-on effects of the bug there are contributing to weird behavior in other places. I am close to having a PR to address that issue, after that is done I'm going to re-evaluate the behavior in bugs like this one to see if they are related.

[2017-03-24 19:48] jonathanpike commented on #266
@ppeble I would expect that `:any` returns a list of all holidays for any region that has a holiday on the specified date, as you mentioned.

[2017-03-24 22:53] ghiculescu commented on #266
Yep I agree it's not working right, and also that it probably relates to lazy loading

[2017-03-28 01:42] ppeble opened #269 "Discuss 'meta' regions and how they should be handled"
While researching https://github.com/holidays/holidays/issues/251 I have come across what I think is a regression, possible (maybe).

I see that we have files named `lib/generated_definitions/europe.rb`. From what I can tell the point of these meta regions is to 'pre-load' definitions. You would never call `Holidays` with `:europe`, as far as I can see.

The issue is that I have moved us away from

[2017-03-30 01:38] ppeble opened #270 "Remove incorrect comments from generated definitions"
I'm finding all sorts of stuff as I work on https://github.com/holidays/holidays/issues/251! 😄

When we generate the final ruby class definitions we are including incorrect information in the comments that are added. Specifically, these lines:

Here is what it says (using `:ar` as an example):

[code]

This is simply not true anymore. We should remove it from the source generator. Relevant lines:

[2017-03-31 05:18] morrme commented on #270
Do you just want those lines removed? are there other files affected by this?

[2017-03-31 14:55] ttwo32 commented on #266
@ppeble Sorry for late response.
I agree . :)
It should return a list of all holidays for any region.

[2017-04-01 03:00] ppeble commented on #270
Really the only thing you need to do is remove the lines from the 'generator' that I linked. What we do is read the definitions (which are yaml files, found here: https://github.com/holidays/definitions) and we generate the final Ruby classes. Then we package those up in the gem and use those. This way we don't have to parse and process YAML on the fly.

So in this case just removing the lines fro

[2017-04-01 03:03] ppeble commented on #270
One last bit, hopefully this makes it clearer: the [Rakefile has lines that call the generator](https://github.com/holidays/holidays/blob/master/Rakefile#L64-L73). It produces a bunch of text that the Rakefile then writes out to the final files. This is how we end up with `/lib/generated_definitions`. It's run manually by maintainers when we want to release.

Hope this makes sense! Let me know if

[2017-04-01 03:33] ppeble commented on #265
This will be addressed by the fix for https://github.com/holidays/holidays/issues/251. I'll have a PR shortly.

[2017-04-01 03:34] ppeble commented on #251
I haven't forgotten about this! In fact I think I'll have a PR shortly. I have the problem solved and at this point I am simply trying to break my new implementation.

[2017-04-01 04:01] ppeble commented on #266
Thanks everyone! This will be addressed with the fix for https://github.com/holidays/holidays/issues/251. I should have a PR soon.

[2017-04-01 04:35] morrme commented on #270
@ppeble Thanks for the explanation. This is pretty cool and I think it may have solved an unrelated question I had as well!!! 🥇

I sent a PR with the removed lines.

[2017-04-01 05:36] ppeble commented on #270
This was addressed by https://github.com/holidays/holidays/pull/272, closing this issue.

[2017-04-01 05:36] #270 closed

[2017-04-01 05:49] ppeble commented on #262
@morrme pointed out that we are not alone: https://github.com/lemurheavy/coveralls-public/issues/491

[2017-04-01 06:04] morrme commented on #262
So far the only resolution seems to turn off  the comment "feature", assuming this setting is still current:
https://github.com/lemurheavy/coveralls-public/issues/25#issuecomment-72534212

[2017-04-01 06:16] ppeble commented on #262
This is excellent info. Thank you!

However...I am kinda souring on Coveralls. I don't know if we need it. It's a bit cumbersome and provides a lot of features that we don't use at all. I really just want a check that we don't fall below a certain threshold.

SimpleCov has this feature. I can, for example, set it so that if the overall coverage falls below 99% then the tests themselves will fail.

[2017-04-01 06:19] ppeble commented on #262
Side note: what I suggested is what we do at work @sittercity. Tests won't even pass locally if your test coverage doesn't pass a certain threshold (in our case we aim for 100%).

[2017-04-01 07:00] morrme commented on #262
@ppeble  It looks like that setting would work. I edited the original post to mention that some people "solved" the issue by moving to another provider (codecov).

[2017-04-01 07:05] morrme commented on #262
@ppeble ahhh! sitter city??? you work with some seriously amazing humans. i owe so, so much to them. now i'm even more honored to support!!!

[2017-04-01 07:50] ppeble commented on #262
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️

It's a pretty great job! Do you live in or around Chicago? Maybe you should come into the office and hang out, we get free lunches on Wednesdays and there are _always_ leftovers. 😉

Seriously, though, drop me a line, if we share mutual friends then you should at least get free lunch out of it. 😄

My work email: ppeble@sittercity.com

[2017-04-01 09:22] morrme commented on #262
@ppeble you've got mail :)

[2017-04-02 01:50] morrme commented on #262
@ppeble BTW it looks like codecov gives you the best of both worlds between coveralls and simplecov. May be worth testing out :)

[2017-04-13 16:31] StephenWetzel opened #274 "Federal Holidays should be observed on Friday if they fall on Saturday"
https://github.com/holidays/holidays/blob/master/lib/generated_definitions/federal_reserve.rb

The Federal Reserve definition uses to_monday_if_sunday(date), but should use to_weekday_if_weekend(date).  See the single asterix note on July 4, 2020 here:
https://www.federalreserve.gov/aboutthefed/k8.htm

If not, then can we get a new definition for just "Federal" holidays that follow that convention

[2017-04-13 18:27] ppeble commented on #274
Thanks for the report! I completely agree. Seems like we should change the definition. I'll handle it over in https://github.com/holidays/definitions and try to get it out wit the v5.5.0 release(which should be out soonish).

Thanks again. Gonna leave this open until I get it done.

[2017-04-13 19:07] StephenWetzel commented on #274
Hey, thanks for the fast response.  I realized I can get the behavior I want with the :us :observed definition.  I didn't realize that would exclude informal holidays at first.

I guess it's debatable if the :federal_reserve definition should have Saturday holidays observed on Fridays or not, since the banks are open, but the board is closed (see quoted paragraph).  Perhaps it would be worth split

[2017-04-13 19:10] ppeble commented on #274
Hm....okay, I see what you mean. Unfortunately there are a lot of grey-ish areas in these definitions...at lot of it depends on what a person thinks for a specific situation. And it doesn't help that governments are constantly changing things. 😬

I'll need to think a bit about this and do a bit more reading. Let me get back to you.

On a final note, your command about informal holidays is somethin

[2017-04-13 19:10] ppeble commented on #274
(and I'm not stalking you, I just had the tab still opened, that's why I responded within two minutes 😬 )

[2017-04-13 19:18] StephenWetzel commented on #274
Yeah, great project overall, we were amazed to find NERC holidays in there.  I think aliases could be pretty useful honestly, I don't know how big of a change it would be in your implementation, but something that just aliases ":us_federal" to ":us :observed" would work.

Failing that, maybe just add this example to the documentation (you can never have enough examples):
```federal_holidays = Holi

[2017-04-13 23:43] ppeble commented on #266
This was addressed in https://github.com/holidays/holidays/pull/271.

[2017-04-13 23:44] #266 closed

[2017-04-13 23:44] ppeble commented on #265
This was addressed in https://github.com/holidays/holidays/pull/271.

[2017-04-13 23:44] #265 closed

[2017-04-13 23:45] ppeble commented on #251
Hi everyone!

I am confident that https://github.com/holidays/holidays/pull/271 fixes this issue. I will be rolling out v5.5.0 shortly, please give that a try. If you notice that I have _not_ fixed the issue please post it here and I will reopen.

Note: I tested locally using the example provided and things seem good. So let's see! Thanks for your patience!

[2017-04-13 23:45] #251 closed

[2017-04-24 20:28] slucaskim commented on #240
We have a need for this very feature! We require a somewhat "stricter" set of holidays for Canada; for example, Civic holiday is considered a [holiday by convetion](https://github.com/holidays/definitions/blob/76be59155225488d49005c9a4fffd5c405fb7a7c/ca.yaml#L123) in the definitions code, but we want it to be an "informal" holiday as it is [not an actual stat holiday](https://www.labour.gov.on.ca/

[2017-04-24 22:15] ppeble commented on #240
Thanks for the feedback @slucaskim. For your specific situation I think you could make the argument that you should have a separate holiday listing for Ontario only that is marked `:informal`. I tested it out locally and I think it does what you want:

[code]

When I ran this locally I received the following output:

[code]

This looks like what you want? This would be the preferred solution if in

[2017-04-25 13:04] slucaskim commented on #240
@ppeble Your solution would be the easiest for all of us, and we did consider it but we thought it might not be what you want because of the comment in this [line](https://github.com/holidays/definitions/blob/76be59155225488d49005c9a4fffd5c405fb7a7c/ca.yaml#L123). However, due to your response, I'll go ahead and put up a PR containing all of the changes we need. I'll also put up all external refer

[2017-05-03 15:42] slucaskim opened #277 "Update with new definitions?"
Hello, could we get an update of the holiday gems with the changes from this [PR](https://github.com/holidays/definitions/pull/38)? We are in sort of a tight need for this fix!

Thanks!

[2017-05-03 15:55] ppeble commented on #277
Yes, sorry! I'll do it over lunch today. Thanks for poking me.

[2017-05-03 18:12] #277 closed

[2017-05-03 18:13] ppeble commented on #277
Pushed! v5.6.0 has your changes. Thanks for your patience!

[2017-07-16 17:16] ppeble commented on #262
FYI, I simply turned off `coveralls`. We will check for above 99% coverage in `simplecov` now. Builds won't pass unless this is true.

[2017-07-16 17:16] #262 closed

[2017-08-10 14:06] slucaskim opened #283 "Version bump request"
Hello, could we get a version bump to include this [definition fix](https://github.com/holidays/definitions/pull/63)? Thanks!

[2017-08-10 14:39] ttwo32 commented on #283
@slucaskim Oh, Sorry.
I will create a PR including [your PR](https://github.com/holidays/definitions/pull/63) and [another](https://github.com/holidays/definitions/pull/64) .
Thanks for your patience :)

[2017-08-15 01:08] ppeble commented on #283
Yep, on it now. Thanks for your patience! We have some kind of issue with some holidays that I _think_ are unrelated but until I can hash it out I don't want to put out a new release. I'll provide an update as soon as I have one. 😄

[2017-08-15 02:31] ppeble commented on #283
Oops, I didn't tag my PR with this issue. [v6.1.0](https://github.com/holidays/holidays/releases/tag/v6.1.0) is pushed to rubygems. It contains your fix. Thanks!

[2017-08-15 02:31] #283 closed

[2017-08-15 02:31] ppeble commented on #283
Just want to say: this is the perfect way to poke us for a release! Thank you for keeping us from slipping. 😄

[2017-08-15 04:31] blair5032 opened #285 "NZ Canterbury Anniversary"
I have noticed that the date for the Canterbury anniversary is not properly calculated.

It appears to provide the second Friday in November however the holiday is observed on the second Friday after the first Tuesday in November. (see [here](https://www.employment.govt.nz/leave-and-holidays/public-holidays/public-holidays-and-anniversary-dates/))

[2017-09-07 00:19] slucaskim opened #286 "Version Bump Request"
Hello, can we get a version bump of the definitions please?

Thanks!

[2017-09-10 15:34] ttwo32 commented on #286
Hi @slucaskim .
Sorry for delay.
I have created a PR . So , please wait a few days. 😄

[2017-09-26 13:19] baumannchristian opened #288 "Missing Mayday for Luxembourg"
Hi there,

the 1st of May is a holiday in Luxembourg, this is not considered in the gem.
Please check on the official homepage of Luxembourg: http://www.luxembourg.public.lu/en/travailler/jours-feries-legaux/index.html

Thanks,
Christian

[2017-09-26 13:21] baumannchristian opened #289 "Whit monday is on day of for Luxembourg"
Hi,

whit monday (at least for 2017 & 2018) is one day off for Luxembourg.
According to the gem it´s 2017-06-04 (which is a sunday) and 2018-05-20 (which is also a sunday).
Please check on the official homepage of Luxembourg: http://www.luxembourg.public.lu/en/travailler/jours-feries-legaux/index.html

Thanks,
Christian

[2017-10-09 05:08] ppeble commented on #286
Sorry. This is entirely on me. Life, etc.

I'll do the bump now and also write up the MAINTAINERS guide for @ttwo32 tonight so we reduce the risk of this happening in the future. Sorry again.

[2017-10-09 05:51] ppeble commented on #286
v6.2.0 is out. Thanks again for your patience.

@ttwo32 the MAINTAINERS guide is coming 😄

[2017-10-09 05:52] #286 closed

[2017-10-10 23:18] UnConundrum commented on #240
Any progress on this by chance?  Columbus Day caused problems today.

[2017-10-18 09:18] snowblink opened #293 "Please tag/release v6.2.0 here in github"

[2017-10-18 14:08] ppeble commented on #293
Bah, sorry. I'll do it now!

[2017-10-18 14:08] #293 closed

[2017-11-01 08:20] Frexuz commented on #235
Any news or progress about this? :D

[2017-11-08 21:52] sirwolfgang commented on #274
I do agree with having an alias to track us federal/banking holidays. I expect the use of holidays as it pertains to banking is a common enough use case to merit a configuration.

[2017-11-15 09:25] joecorkerton opened #294 "UK bank holiday missing"
The UK summer bank holiday at the end of August is missing. This falls on 27th August in 2017.

https://www.gov.uk/bank-holidays

[2017-11-23 16:47] joecorkerton commented on #294
@ttwo32 Did you get a chance to look into this yet?

[2017-11-25 18:23] ttwo32 commented on #294
@joecorkerton Sorry for being so late in reply.
I couldn't get up from having caught a sick(influenza).

I have surveyed uk bank holidays.
"Summer bank holidays" is defined "Bank holidays" in gb.yaml
Please look at below link.

https://github.com/holidays/definitions/blob/master/gb.yaml#L68

And i have confirmed on console.

`
irb(main):040:0* Holidays.on( Date.civil(2017,8,28),[:gb_eng])
=> [{:da

[2017-11-27 09:30] joecorkerton commented on #294
@ttwo32 Thanks for your response. I thought the holiday is missing because I was searching for holidays using the `:gb` tag. Is there a reason that the `:gb` tag is not on this holiday? It seems like it should be added, as it is an official UK holiday

[2017-11-27 10:34] ttwo32 commented on #294
@joecorkerton Oh, sorry . I don,t know a reason.
@ppeble Do you know a reasons that :gb tag is not on this holiday?

[2017-12-04 20:07] poojawins commented on #274
I agree, it should be to_weekday_if_weekend(date). Federal law (5 U.S.C. 6103) establishes the following public holidays for Federal employees. Please note that most Federal employees work on a Monday through Friday schedule. For these employees, when a holiday falls on a nonworkday -- Saturday or Sunday -- the holiday usually is observed on Monday (if the holiday falls on Sunday) or Friday (if th

[2017-12-07 11:58] timkrins commented on #294
@joecorkerton, @ttwo32  - easy one ;)
28th August 2017 is not a holiday for Scotland, therefore it will not be in `:gb`

[2017-12-08 10:54] #294 closed

[2018-01-28 05:44] ppeble commented on #107
Going to go ahead and close this.  TestUnit is good for us! It has served us well. Unless a compelling PR comes in we won't be switching.

[2018-01-28 05:44] #107 closed

[2018-02-08 15:49] jgarneau opened #299 "Load Error : cannot load such file -- holidays/ca"
Hi,
I'm using Redmine and the plugin "redmine_schedules" use holidays but have error :

C:\Bitnami\redmine-3.4.4-1\apps\redmine\htdocs>rake db:migrate_plugins RAILS_ENV=production
rake aborted!
LoadError: cannot load such file -- holidays/ca
C:/Bitnami/redmine-3.4.4-1/apps/redmine/htdocs/plugins/redmine_schedules/init.rb:3:in `<top (required)>'
C:/Bitnami/redmine-3.4.4-1/apps/redmine/htdocs/lib/re

[2018-02-09 01:49] ppeble commented on #299
Hello! I would love to help but it seems like the `redmine_schedules` repo isn't maintained anymore. It looks like it is assuming a pretty old version of the gem but since the maintainer hasn't locked toa specific version it is trying to grab the latest version. We no longer have that file available at that location.

The problem most likely can be fixed by simply removing this line: https://githu

[2018-02-09 14:05] jgarneau commented on #299
Thank you Phil for answer me!

I'm new to Ruby and my objective is to find a workload utilitie for Redmine (3.4.4).
The "init.rb" file have a require "holidays/ca", this file is in the "holidays\lib\generated_definitions" directory.
I have create a directory named holidays in the redmine_schedules directory with the file for my region (here ca.rb).

But the command :  rake redmine:plugins:migrate

[2018-02-15 13:58] ssaunier opened #300 "Israël support?"
Hello 👋,

Thanks for the great gem! I was looking for a `il.rb` definition for Israël Holidays but could not find it. Is it another file, or is this country not yet supported?

Thank you!

[2018-03-05 16:03] ttwo32 commented on #300
@ssaunier Sorry for my slow response.
Unfortunately, there is no definition for Israel Holidays.
If it's fine with you, please make a Israel definition file and open a PR.
Contribution guide is [this](https://github.com/holidays/definitions/blob/master/CONTRIBUTING.md).

@ppeble Any thoughts?

[2018-03-19 02:39] richdrich opened #304 "There is no (documented?) way to run the tests on a custom file"
If I define a custom `test` stanza in my yaml file, there is no way to run it after a:
[code]

(or this isn't documented?).

[2018-03-19 04:00] richdrich commented on #240
This is also an issue if you want to look for US stockmarket holidays: https://www.nyse.com/markets/hours-calendars

Veterans Day is not a market holiday, but can't easily be excluded

[2018-04-10 01:00] mikecanann commented on #274
I think the fix for this is in my PR https://github.com/holidays/definitions/pull/87

At least it fixes it for me. I added a test case for moving the 4th of july to the 3rd for the year 2020.

[2018-04-27 17:58] ttwo32 commented on #304
Sorry for my lazy response.
In my view, there is no way to run test in custom yaml file.
@ppeble Any ideas?

[2018-05-07 20:13] joffet opened #305 "Canadian Thanksgiving missing"
Hi, great gem btw. Works great. Is it possible to get Canadian Thanksgiving? ( second Monday every October ) https://en.wikipedia.org/wiki/Thanksgiving_(Canada)

The others on my wishlist are Christmas Eve and New Years Eve in the informal category.

Thanks again for the fine work

[2018-05-07 21:48] slucaskim commented on #305
Thanksgiving is already part of the list, are you experiencing it missing?
https://github.com/holidays/holidays/blob/master/lib/generated_definitions/ca.rb#L53

[2018-05-08 03:40] joffet commented on #305
Ah, I see. I have to make the locale province specific. I guess there are some provinces that don't recognize it. Thanks

[2018-05-08 03:40] #305 closed

[2018-05-08 16:36] ttwo32 commented on #305
@slucaskim Thank you for answer this issue!!
@joffet Please feel free to ask more. :)
Thanks!!

[2018-06-15 18:08] ste26054 opened #309 "Informal Holidays in custom definition are returned even if :observed is asked"
Hello,

I am using the Holidays gem version `6.4.0` with ruby `2.3.4`

I created the following `custom_region.yaml`:

[code]

Here, I expect `2018-01-01` to be an informal holiday.

[code]

So it seems Informal days in custom definitions are not working, or am I missing something?

[2018-07-03 15:39] ste26054 commented on #309
OK, I found the source of the problem. In this case, the definition should be formatted like this:

[code]

Note that `type: :informal` line, where `:informal` is explicitly passed as a symbol. I did not look into that first because all the existing definitions were using `type: informal`

If we do not pass a symbol, the type is passed as a string and fails the following check:
https://github.com/

[2018-07-12 14:15] MeddyRichardCrisalid opened #310 "Inexisting countries support & GB date error"
Hello!
I would like to know whether more countries will be supported or not (like China, which is currently not).

Also, I would like to point out an error. I was displaying UK holidays and checking them out manually, when I found something interesting. The gem returns "St. Patrick's Day" (gb_nir) as being on 2018-03-17 (Saturday), when the government site says it was on 2018-03-19 (Monday)! I bel

[2018-08-03 19:51] musa-raza opened #312 "Federal reserve error for holidays in 2018"
Hello, for federal reserve holidays, there is an error in your generator. Veterans day is on the 12th of November this year, not the 11th. https://www.newyorkfed.org/aboutthefed/holiday_schedule.html
<img width="520" alt="screen shot 2018-08-03 at 3 51 19 pm" src="https://user-images.githubusercontent.com/28770271/43662808-1e4c616e-9735-11e8-94d5-3cf8f3286167.png">

[2018-08-23 15:38] ghiculescu opened #314 "Bug in region generator"
Hey gang, https://github.com/TandaHQ/holidays/commit/16516dae449fc9a5af718ca8e0f1190df73aab43 shows a bug I found in the region generator.

Basically if a country came after its continent alphabetically, it might get the continent set as its parent region.

Our fork is pretty out of sync with upstream, but I would recommend at least cherry-picking this.

[2018-09-21 03:58] ppeble commented on #300
Sorry for the delay in response! 🙇‍♀️

Nope! The only reason that is no one has submitted one yet. I don't live in Israël so I haven't done it myself. PRs welcome!

[2018-09-30 04:11] ppeble commented on #314
Heya @ghiculescu! Sorry for the delay. Does https://github.com/holidays/holidays/pull/320 fix this? They look similar with slightly different approaches. Let me know what you think!

[2018-09-30 04:15] ppeble commented on #299
Hi @jgarneau, I am terribly sorry for not responding. No excuse from my end, just lost track. 😦

I'm sorry but I don't know why that might be happening. The issue is on the plugin/redmine side. If you still need help, my recommendation is to ask the plugin author to update to the latest `holidays` gem (`6.5.0` as of this moment) and see if that fixes things.

Sorry I can't be more help! Good luck.

[2018-09-30 04:15] #299 closed

[2018-09-30 05:03] ppeble commented on #310
@MeddyRichardCrisalid Sorry for the delay! Let me respond to each part.

### Available regions

We rely on contributors from around the world for definition updates. Unfortunately I don't have any concrete plans to add additional regions simply because I don't know the important holidays (or their behavior) in each country. Specifically in China I would probably get all of the calendar dates incor

[2018-09-30 05:03] #310 closed

[2018-09-30 05:37] ppeble commented on #300
I'm closing this issue. As stated in the [CONTRIBUTING guide](https://github.com/holidays/holidays/blob/master/CONTRIBUTING.md#how-to-contribute) we rely on users from around the world to provide definitions for us. As a non-resident of the country I don't feel qualified to add anything, as we stated above.

Please feel free to submit a PR to the [definitions repository](https://github.com/holiday

[2018-09-30 05:37] #300 closed

[2018-09-30 05:38] ppeble commented on #274
Whoops! This should have been closed! I thought that GH itself would close it because I referenced the issue but I guess not!

Thanks again for reporting!

[2018-09-30 05:38] #274 closed

[2018-10-01 01:12] ppeble commented on #264
@amy-mac @matkoniecz I'm very sorry for the silence. I have no excuse, just lost track. 🤕

I am looking at this tonight. I will add my findings and the produce either a PR with a fix or provide triage info tonight so we know next steps.

---

For starters, I am able to repro using the same examples from @matkoniecz for `:pl`. This surprised me because I know we have tests explicitly for this funct

[2018-10-01 04:04] ppeble commented on #264
Sorry for the wall of text. I wrote most of it while investigating to help organize my thoughts.

## tl;dr

When I renamed this method in 2016 I did so based on the stated behavior in the rdoc for the method. It turns out the rdoc was 100% wrong, describing the exact opposite behavior from how the code actually works. Because of this the method returns `false` when you would expect it to return `t

[2018-10-01 05:52] ppeble commented on #264
Final update for tonight: I'm working on filling out test cases and modifying the behavior. I'm not sure when but I'll aim to get a PR out by this upcoming weekend.

[2018-10-10 03:53] ppeble commented on #264
I have opened a PR to address this: https://github.com/holidays/holidays/pull/327

After @ttwo32 takes a look I'll merge and gets a release out.

[2018-10-13 05:21] ppeble commented on #304
Sorry for the incredible delay. I'm getting back into a rhythm for responding to issues but that doesn't help things from the past. ☹️

@richdrich The short answer is 'no', there is no way to run tests against custom files. That's because in my original conception of 'custom' definitions they are only loaded at runtime and therefore 'tests' don't really play into how they are used.

If you are wil

[2018-10-14 01:29] richdrich commented on #304
So we (at Sharesight) use the holidays gem to track when a stock market is expected to be open and send us prices.

Because stock market holidays don't (often) match a national or regional holiday, we've created custom regions for each one and added the exceptions to them. It would be good if we could also add some tests to these files (as for the standard holidays) then we could test them using y

[2018-10-15 02:33] ppeble commented on #304
@richdrich This makes a lot of sense to me in principle (I love enabling more tests!) but I'm having trouble understanding the actual workflow you would use. Were you envisioning something like a separate rake task that could be given the custom defs (with tests) and have the defined tests run on them?

As an example of what I am thinking, I wrote a [test_region rake task](https://github.com/holid

[2018-10-15 02:40] richdrich commented on #304
I was thinking I'd do this from our application's tests (we have our config yaml files in the app) so something like:
[code]

with `test_custom` returning true if it passes, or logging reasons and returning false otherwise?

[2018-10-15 03:08] ppeble commented on #304
Oooh, that's interesting. That option didn't occur to me. I would have to think about how to run the tests (we use [test-unit](https://rubygems.org/gems/test-unit)) in-process rather than letting them run via rakefile as a separate command. We already parse the defs and the tests but then throw the tests away. I'm sure it's possible...

I am always willing to look for more options in testing defin

[2018-10-15 03:31] ttwo32 commented on #304
It,s interesting. :)

[2018-10-16 18:37] jimryan commented on #312
@musa-raza See the [footnote](https://www.newyorkfed.org/aboutthefed/holiday_schedule.html#1) next to the 2018 date for Veteran's Day on the page you linked to.

It falls on November 11th this year, which is a Sunday, so it is _observed_ on Monday, November 12th.

If you want `Holidays` to return the dates holidays are observed, you need to pass the [observed](https://github.com/holidays/holidays#

[2018-10-17 00:55] musa-raza commented on #312
Thanks for the clarification @jimryan appreciate it

[2018-10-17 00:55] #312 closed

[2018-11-25 04:03] ppeble commented on #314
I'm going to go ahead and close this one out, it seems like we are good. Please feel free to ping me so I can reopen if this didn't work for you!

[2018-11-25 04:03] #314 closed

[2018-11-28 04:09] ppeble opened #331 "Underscores used in determining parent regions conflict with regions that are named with underscores"
Any region that does not have an iso 3166 name and use underscores in their names run into an issue. We use underscores to determine 'parent' regions and 'sub-regions'. For example, `us_va` is a subregion of `us`. This way holidays in the 'parent' region still apply to the subregion.

This logic is also applied to these non-standard regions. Up until now it hasn't mattered...there is no `ecb` pare

[2018-11-28 04:12] ppeble commented on #331
I am tagging a few people into this so that they can weigh in because they have opened an issue, commented on an issue, or opened a PR related to this specific area (namely federal reserve stuff):

* @mhickman
* @mikecanann
* @StephenWetzel
* @poojawins

And I'll tag in @ttwo32 so you are also aware. :smile:

[2018-12-04 02:47] ppeble opened #333 "Definitions with invalid functions do not raise error on generation"
I accidentally entered 'to_weekday_from_sunday', which is not a valid method that is recognized by this gem. Instead of erroring out it proceeded as normal and I only figured it out later. We need it to raise a hard error if a provided method is not known or defined.

[2018-12-04 02:59] ppeble commented on #331
One last ping of @mhickman @mikecanann @StephenWetzel @poojawins before I move forward with my plans to remove underscores for the affected non-standard regions above. This will be a breaking change and so the gem will jump to v7 to indicate this.

I likely won't get to this until at least this coming weekend.

[2018-12-09 02:58] ppeble commented on #331
Addressed in referenced PR. New version is v7.0.0.

[2018-12-09 02:58] #331 closed

[2018-12-09 07:36] ppeble commented on #309
Whoops! This should have been closed back in September. Sorry for the mistake, I just misunderstood what was merged and didn't follow up on this specific issue. Thanks for the PR!

[2018-12-09 07:36] #309 closed

[2018-12-11 12:53] snowblink opened #335 "7.0.0 release/tag"
Please release v7.0.0 as a tag/release on github.

[2018-12-15 01:30] ppeble commented on #335
Sorry about that, [it's done](https://github.com/holidays/holidays/releases/tag/v7.0.0). I'll be better about this going forward.

[2018-12-15 01:30] #335 closed

[2019-02-09 16:24] ryan-cal opened #340 "Thoughts on failing back to an external API?"
What are your thoughts on falling back to an external API like [Calendarific.com](https://calendarific.com) when the country is not available in the list?

[2019-02-19 22:10] itmart opened #343 "Calling Holidays.on(Date.yesterday) gives empty array until given a flag"
Yesterday, Feb 18, 2019, was Presidents' Day in the US. But when we try to do `Holidays.on(Date.yesterday)`, it gave an empty array. Then we tried `Holidays.on(Date.yesterday, :us)` and Presidents' Day showed up. `Holidays.on(Date.yesterday)` started giving all the holidays on that day on subsequent calls. I couldn't figure out why this is happening and just really wanted an explanation if I misse

[2019-02-19 22:19] ppeble commented on #340
Sorry but I don't think that this would be a good fit. I think that a service-specific client would make a lot more sense. I see that a ruby client does not exist yet so that would probably be a better place to spend your effort.

Thank you!

[2019-02-19 22:19] #340 closed

[2019-02-19 22:45] ppeble commented on #343
Hi @itmart! Happy to take a look. It looks like what you are providing _should_ work but the last two command results make me nervous.

To explain the result changes between calls: we load definitions on the fly for performance reasons and we also do some special logic surrounding holidays that are 'shared' between North American countries. In theory you should never receive different results depe

[2019-02-19 23:09] itmart commented on #343
Now that you mentioned it, I realized we are still on 4.7.0. I tried updating to 7.0.0 and it seem to fix the problem!

But to answer your other questions, here's what I'm getting when I run them through my console. You are also correct that `Date.yesterday` is an ActiveSupport method, and it should be returning a `Date` object too:

[code]

[2019-02-23 05:15] ppeble commented on #343
Okay, great! I have fixed a few issues like this over the years so I'm glad that we're doing what you expected. Please don't hesitate to open new issues if you spot weird behavior. ❤️

Going to close this out, feel free to open a new issue if you spot behavior you don't expect.

[2019-02-23 05:15] #343 closed

[2019-03-20 19:17] ppeble opened #344 "Holidays with identical names can return incorrect results based on order in which regions are loaded"
## Expected Behavior

The holiday 'Corpus Christi' for the `co` region should be returned when querying for `2014-06-23` even if other regions _also_ containing a 'Corpus Christi' holiday are loaded first.

Expected correct output while loading `br` region before `co` region:

[code]

## Current Behavior

Loading the `br` region first means that the correct definition for `co` is not used, resulti

[2019-03-20 21:15] ppeble commented on #344
While writing tests I have discovered that this only seems to occur in the following situations:

#### Two regions each contains a function with the same name **but different logic**

1. `:region_1` contains a function named `my_custom_method`
2. `:region_2` contains a function that is ALSO named `my_custom_method`

From what I can tell when `:region_2` is loaded it seems to overwrite the logic th

[2019-03-21 12:18] ttwo32 commented on #344
@ppeble Thank you for writing this issue.:)
This is a serious and dificcult problem.

[2019-03-26 02:48] ppeble commented on #344
Quick update: I have a fix locally that addresses the second scenario from my last comment (regarding `function_modifier`). Unfortunately the first scenario is more tricky. It requires some refactoring of how we handle functions and it has a potentially large impact since functions are used in so many holiday calculations. Because of this I think I'll need another 1-2 days before I'm ready with a

[2019-03-28 20:38] ppeble commented on #344
After a lot more digging I have decided to open a PR with my fix for the first scenario only. This change should fix the issue from the `definitions` PR from which this issue sprouted and should allow us to release v8.0.0 without having to wait.

The second issue unfortunately requires a much more complex solution. I'll leave this issue open so I can continue to track progress on it but it will co

[2019-04-12 15:24] shaqq opened #348 "Anyone working on a Java version?"
I was planning on making a `holidays` package that'd work with JVM languages. Do you know of anyone working on something like that? I figured I'd ask before duplicating work.

[2019-04-13 01:15] ppeble commented on #348
Nope! As far as I am aware there are no other languages in any form of development outside of the existing ruby version and the [golang](https://github.com/holidays/go-holidays) version that I started but haven't completed.

If this is something you are interested in I would be happy to provide feedback, reviews, answer questions about the definitions, etc etc. Feel free to reach out!

[2019-04-13 06:01] ppeble commented on #348
Oops, I should have said this explicitly: if you are writing a package and would like it available under the `holidays` organization then we can definitely discuss this! I would love for there to be a ruby version, a golang version, a java version, etc that all consume the same core YAML definitions. 😄

[2019-04-14 06:50] ttwo32 commented on #348
@ppeble I agree your thoughts.
This is good challenge!!

[2019-04-15 15:39] shaqq commented on #348
@ppeble Yep, that would be amazing! The thing I'm trying to sort out is how to test all the versions against each other to make sure they're all outputting the right holidays. There's some weird things to sort out, because if there's a bug in one, you'd have to fix all of them. Or, at least, make a github issue for the discrepancies? I'm not sure quite yet.

[2019-04-17 01:59] ppeble commented on #348
@shaqq I've had similar thoughts! My thinking on this is basically 'each language has to be responsible for itself'. We would have the [central definitions](https://github.com/holidays/definitions) and then each language repository would then just do its own thing, update on its own schedule as the maintainer(s) saw fit.

This approach has the benefit of allowing for maximum flexibility...if the g

[2019-04-17 03:20] shaqq commented on #348
@ppeble Yeah, I definitely agree that each language library should be idiomatic to their language conventions and not uniformly dogmatic.

There should be some way, somehow, to output something common amongst all of them. Even if it's just a huge file that's a sequence of strings, like:

[code]

It's probably better to be something structured, like JSON or something. But as long as we're using the

[2019-05-10 20:08] shaqq commented on #348
@ppeble Have you been able to figure out how to do custom methods w/ the golang version? Trying to sort out in my head how we'd do it in Java....

[2019-07-19 17:13] urkle commented on #235
Our use case is we want to provide the user with a list of holidays to add to their paid holiday list. and as such we want our definition to simply be recurring holiday == us/independence_day  and then in our backend code we would create the "instance every year..  thus asking the lib "what date is us/independence_day for 2019". and create the DB record (we have to do this as we have metadata that

[2019-08-13 13:57] zako05 opened #351 "Missing public holidays for Singapore"
Hi there,

**19th of May**, **11th of August** and **27th of October 2019** are not considered as public holidays by the gem.
Check the [official website](https://www.mom.gov.sg/employment-practices/public-holidays#Year-2019) of ministry of manpower of Singapore.

Thanks,
Michal

[2019-08-29 12:04] brenauj opened #352 "Holidays with identical names in the same region are merged into the same entry"
### Summary
___
Regions that have the same name for different days only have one entry for this name

### Current behavior
___

For the `bg_bg` region the `Възкресение Христово. Великден` holiday has 2 entries in the YAML, but only one of them is returned by the gem.
[code]

### Expected behaviour
___

[code]

### Steps to reproduce
___

1. Have a region that has two holidays with the exact same n

[2019-09-02 09:58] jacobwalkr opened #353 "UK May Day still on the wrong day"
Hi all,

Slightly niggly issue: although May Day has been moved to the 8th in holidays/definitions, there's no version of holidays (either through rubygems or github @ master) that reflects this.

Any idea when that change might make its way to rubygems? I'm working around it by forking atm :)

Cheers,
Jacob

[2019-10-25 22:14] dbastin opened #356 "Release 8.0.0 missing from GitHub?"
Just wondering about some strangeness around the latest GitHub release version not matching the RubyGems.org release version pushed by @ppeble on 09/25/19.

Latest GitHub release: v7.1.0 (https://github.com/holidays/holidays/releases)
Latest RubyGems release: v8.0.0 (https://rubygems.org/gems/holidays)

Perhaps an oversight(?), but wanted to confirm.

[2019-11-07 15:58] UnConundrum commented on #240
Veteran's Day is coming up again.  Any progress or should I stop asking?

[2019-11-07 19:48] richdrich commented on #240
I hacked this in our code with the following:

[code]

and in the .yaml

[code]

The monkeypatch recognises !! on the name as meaning that the holiday is *not* observed for that region (we have custom config files for each stock market or group of).

[2019-11-19 20:12] estani opened #357 "performance issues"
We've seen that most of the time in test where spent in this Gem, it turned out to be a problem form our side, since the "region" was passed as string, instead of "symbol".

This caused Holiday Gem to work, but it just overlooked the cache silently.
[code]
If options is guarantee to be only an array of symbols (don't know the API), you could either validate that or converted to symbols, for matchi

[2019-11-27 16:28] ricardo-motorefi commented on #356
I noticed this as well...

[2019-12-02 10:13] ttwo32 commented on #356
@dbastin @ricardo-motorefi Sorry for lazy response.
I have corrected a release information of Github.
Thanks!!

[2019-12-02 10:13] #356 closed

[2019-12-02 10:46] ttwo32 commented on #353
Hi @jacobwalkr. Sorry for the lazy response.
UK May Day will be changed to May 8 only in 2020, right?
Perhaps it has already been fixed, so take a look this [PR](https://github.com/holidays/definitions/pull/142). :)

[2019-12-02 16:25] jacobwalkr commented on #353
Hi @ttwo32

No problem. Looks like there was a new release (8.0) made a few weeks after I posted this and it looks to have the newest version of the definitions.

Thanks :)

[2019-12-02 16:25] #353 closed

[2020-02-17 11:56] ttwo32 commented on #288
Hi @ghost :)
I'm really sorry for our late response.
I have pushed [PR](https://github.com/holidays/holidays/pull/359/commits).
This issue should be solved.
Please check it at your free time.:)

[2020-04-21 05:52] Bussinho opened #361 "Missing Mayday for Germany Subregion Berlin"
Hi there,

the 8th of May on 2020 is a holiday in Germany/Berlin, this is not considered in the gem.
This holiday is a unique holiday called "Liberation Day" and only in the year 2020.
Please check on the official homepage of Berlin:
https://www.berlin.de/tourismus/infos/1887651-1721039-feiertage-schulferien.html

Thanks,
Andre

[2020-06-09 00:04] irwalker opened #366 "Japan National Holidays in 2018 are incorrect"
Hi there,

A couple of problems with holidays in Japan for 2018:

- `2018-04-30` was observed Showa day, but it is not recognised in releases `>= 7.0`

- `2018-05-07` is coming through as a holiday (I think as observed Children's day) but it should not be, as public holidays that fall on a Saturday are not carried forward.

I think I could create a PR to fix observed Showa day, but I am not sure a

[2020-06-23 12:26] ttwo32 commented on #361
Hi @Bussinho !!
Holidays gem consider 'the 8th of May on 2020'.
`irb(main):003:0> Holidays.on( Date.civil(2020,5,8),:de_be)
=> [{:date=>#<Date: 2020-05-08 ((2458978j,0s,0n),+0s,2299161j)>, :name=>"Tag der Befreiung", :regions=>[:de_be]}]`

[2020-07-03 14:37] JoeMilsom opened #369 "DatesDriverBuilder does not work properly with Lunar calendar"
Hey,

I've just been looking at adding Chinese Holidays to the definitions, but have found the DatesDriverBuilder doesn't work with the Lunar calendar.

Within my cn.yaml file, ([which was based off this pr here](https://github.com/holidays/definitions/pull/171)) 中秋节 (Mid-autumn festival) occurs in the 8th lunar month, which usually falls in September but occasionally at the start of October.
The

[2020-08-20 07:30] #361 closed

[2020-11-17 22:09] hlascelles opened #372 "4 day UK Bank Holiday in 2022"
It looks like there may be an extra day's holiday in the UK in 2022: https://www.bbc.com/news/uk-54911550

[code]

If we don't add it to this gem she'll cut our heads off.

[2020-12-28 18:41] yevhene opened #376 "Release a new version to allow this gem to be used with Ruby 3.0"
Please

[2021-01-04 14:46] ttwo32 commented on #376
@yevhene We allow holidays gem to be used with Ruby 3.0.

Please check PR https://github.com/holidays/holidays/pull/370

[2021-01-04 14:49] yevhene commented on #376
@ttwo32 In master. But release a version in RubyGems please

[2021-01-04 16:16] ttwo32 commented on #376
I have released version 8.4 in 12/2020.
This version contained a PR https://github.com/holidays/holidays/pull/370 .

[2021-01-05 10:32] yevhene commented on #376
@ttwo32 Thanks! Missed it without letter `v` in tag

[2021-01-05 10:32] #376 closed

[2021-02-08 18:54] lifeiscontent opened #380 "Get a list of all holidays possible for a given region"
it would be nice if there way a method to call `Holidays.for(:us, :fr) to return an entire list of holidays regardless of the date as I'm working on a select dropdown and it would be nice to have a mapping of all holidays within this gem without binding to a specific time frame.

[2021-04-16 09:03] malveslobo opened #381 "Manage Belgium parent region"
Hello,

When i search holidays for ":be" , i've a nice

`Holidays::InvalidRegion (Holidays::InvalidRegion)`

I see it's the not the same for ":ca", because we have the region definition in REGIONS

we should be able to do the same for belgium ?

Michael

[2021-06-03 19:58] victortyau opened #382 "I have an issue with columbus day"
I don't know why the Columbus date is not like a holiday in the USA.
please help me

[2021-06-03 20:21] #382 closed

[2021-06-06 12:14] hlascelles commented on #372
This is now official (and less than a year away): https://www.gov.uk/bank-holidays

Is it easy to add? Would you like a PR @ttwo32?

![image](https://user-images.githubusercontent.com/299102/120923937-1bad4b00-c6c9-11eb-9c14-cc5d2554e320.png)

[2021-06-21 12:42] tomkra commented on #381
I have same problem with Taiwan holidays. When I try `:tw` I get the same error.

[2021-06-25 07:52] aleksandersotnikov opened #384 "Abuse - very important - iso8583"
Good day, Boris Stall!

Please remove the old project  https://github.com.cnpmjs.[]org/smartkiosk/iso8583-mkb from public access.
The project contains confidential information for Bank.
This is very important!

URL:
https://github.com/smartkiosk/iso8583-mkb
https://github.com/smartkiosk/distribution/blob/90deae0e5501a392275edd7fac4778625ff8830f/installer.sh

[2021-07-02 06:29] ppeble commented on #384
This looks like spam. Closing.

[2021-07-02 06:29] #384 closed

[2021-07-26 17:24] hlascelles commented on #372
@ttwo32 What do you think? This is less than a year away and may be affecting financial apps calculations.

[code]

[2021-08-11 07:03] ttwo32 commented on #372
I'm really sorry for the delay in my response.
It needs to update uk yaml delinifition.
Would you please read the guide and send us a PR?

https://github.com/holidays/holidays/blob/master/doc/CONTRIBUTING.md#for-definition-updates

[2021-08-13 10:59] youssef1337 commented on #382
did you manage to fix this issue?

[2021-08-16 18:27] drhie opened #385 "Version Bump Request"
Hi,
Can we get a version bump of the definitions please?
There is a Canadian holiday coming up in Sept 30 that we will need this for.
Thanks!

[2021-09-20 17:46] Murphydbuffalo commented on #385
@ppeble hi and thanks for the awesome gem! Using the latest version of `definitions` would be awesome as [it includes the new US federal holiday Juneteenth](https://github.com/holidays/definitions/pull/195)

[2021-10-04 04:03] woobottle opened #388 "Korea's new year get next year's new year"
![image](https://user-images.githubusercontent.com/50283326/135790697-7c85f717-d8b7-43c9-9662-50f97180d533.png)

korea's new years day always get next year of new years day
i think day setting in photo is problem

this should changed like this
for example

2020 12.30
2021 1.1
2021. 1.2

but now

2021.1.1
2021.1.2
2021.12.30 => it always return next year new year day

how can we fix it

[2021-11-16 13:15] owst commented on #372
@ttwo32 it looks like https://github.com/holidays/definitions/pull/207 will address this issue

[2021-12-01 13:48] Xipher7934 commented on #385
+1. There have been additions to the definitions that are important.

[2022-01-05 15:37] #372 closed

[2022-01-05 18:44] ttwo32 commented on #385
@drhie @Murphydbuffalo @Xipher7934 I'm really sorry for my lazy response...
I have released  ver 8.5.0.
Would you please update a holidays gem for your apps?

[2022-01-09 05:47] #385 closed

[2022-03-06 15:34] bkmgit opened #392 "Islamic holidays"
[Islamic holidays](https://en.wikipedia.org/wiki/Islamic_holidays) such as [Eid al-Fitr](https://en.wikipedia.org/wiki/Eid_al-Fitr) and [Eid al-Adha](https://en.wikipedia.org/wiki/Eid_al-Adha) follow the [Islamic calendar](https://en.wikipedia.org/wiki/Islamic_calendar). The holiday dates observed may vary from location to location depending on moon sighting.  For such holidays, it would be helpfu

[2022-03-18 22:29] emmahsax opened #393 "Día de los Muertos is not listed"
The list of holidays doesn't seem to include Day of the Dead (or Día de los Muertos).

[2022-04-08 19:23] kyrofa opened #395 "How to prevent stacked observed holidays"
This is more of a question than a bug report, I hope that's okay (feel free to direct me elsewhere if necessary).

I'm using this excellent gem to help with tracking holidays and PTO at work, and I'm struggling with groups of potentially observed holidays. Take Christmas, for example. At work, we get Christmas Eve, Christmas Day, and the day after Christmas off. I naively threw this together, then

[2022-04-08 20:28] kyrofa commented on #395
Alright this works the way I want it to, but it doesn't please me as much as I would like to be pleased:

[code]

The issues I have with this approach:

1. Methods can't call each other, so instead of making a `christmas_observed` method, for example, the `christmas_eve_observed` and `day_after_christmas_observed` methods both need to know how to calculate the observed Christmas date, which would

[2022-04-11 15:19] ojsdude opened #396 "GB Substitute Days over Christmas and New Year"
in the UK; if Christmas (and boxing day) is on the weekend; there is a substitute bank holiday on the next day(s) e.g.
![image](https://user-images.githubusercontent.com/9365936/162771305-192c497c-eeea-422d-bfd4-e262b830cd00.png)
AND
![image](https://user-images.githubusercontent.com/9365936/162771383-9e7d639b-7ba9-4dff-a3bd-5143a82d1d6c.png)

The same goes for new year:
![image](https://user-imag

[2022-05-09 13:12] cschull opened #397 "Liberation Day, Region NL"
Hi there,

I'd like to use this library in the Netherlands. I noticed that Liberation Day (May 05) is considered a holiday this year, however, in the Netherlands it's a required public holiday every 5 years (so the next one would be 2025) and it is a non-mandatory holiday otherwise. Is there any way that can be incorporated into the library?

Thanks!

[2022-09-08 17:10] akumar-wavefin commented on #240
For Canada,

National Day for Truth and Reconciliation is added as a Holiday for all provinces in the config.
https://github.com/holidays/definitions/blob/master/ca.yaml#L180-L184

But it is a statutory holiday for federal government employees, not all Canadians.
Recently, Northwest Territories extended the holiday to all workers in the NWT beginning in 2022.

As per the config, the holiday is for

[2022-09-10 13:26] hlascelles opened #398 "Queen Elizabeth II passing Bank Holiday"
There will be a bank holiday in remembrance of HM QEII. The date is not concrete yet, so this is an issue placeholder. It is likely to be Monday 19th September 2022.

https://www.bbc.co.uk/news/uk-62862225

[2022-09-11 07:53] ttwo32 commented on #398
@hlascelles Thank you for letting me know that.:)
If you don't mind, could you please submit a PR at [holidays/definitions](https://github.com/holidays/definitions)?

[2022-09-12 04:44] justinjones commented on #398
@ttwo32 I've updated the definitions for the AU version of this holiday: https://github.com/holidays/definitions/pull/232

[2022-09-12 14:12] hlascelles commented on #398
Added... https://github.com/holidays/definitions/pull/235

Also, a fix for the KE holidays: https://github.com/holidays/definitions/pull/236

[2022-09-12 15:07] DagonWat commented on #300
Hi guys, I am now collecting data to create Israel holidays list. My company uses the gem and now we have a need. It will be ready soon.

[2022-09-12 17:29] Jonic commented on #398
@hlascelles Thanks for the speedy update!

Does this still count as having been fixed without an updated release of this Gem? Without your PR merging to `definitions`, and a new release of the Gem, technically this issue hasn't been resolved yet, but closing this issue might give the impression that it has been. Should this issue stay open until a new release has been published?

In the meantime I

[2022-09-14 16:55] robwold commented on #251
@ppeble I've run into this issue more or less exactly as far as I can tell, could there have been a regression here?
I'm trying to set it up in a rail's app's `config/initializers/holidays.rb` and have had to use the same workaround discussed above:
[code]
where
`config/initializers/holidays/custom_holidays.yaml` looks like
[code]

[2022-09-15 17:02] WorkSutton commented on #398
@hlascelles Looks like this can be closed now as the PR has been merged in the definitions file and this commit https://github.com/holidays/holidays/commit/ed17774be9b7c31e4da1374aba1d0b7fa2e701c8 pulled it altogether.

Only thing I cannot see is a new tagged/released version has not been pushed even though the version has changed.

[2022-09-15 17:05] ppeble commented on #398
It has been pushed, the version is `v8.6.0` in rubygems. I will update this releases page, sorry about it! Please try pulling it and let us know if it works for you!

[2022-09-15 18:03] WorkSutton commented on #398
@ppeble Yes I was able to pull the gem using `bundle update holidays --conservative` and it update from 8.5.0 to 8.6.0.

I just expected to see a tag in releases/tags, but maybe I was confused on that.

Thanks for getting this merged in and published today. Very much appreciated 👍

[2022-09-15 18:07] ppeble commented on #398
No, you aren't wrong, I had to add it just now. That's why you couldn't see it, I forgot! Thanks for reminding me. 🙇

[2022-09-16 18:28] hlascelles commented on #398
Thanks for the gem release! :+1:

[2022-09-16 18:28] #398 closed

[2022-09-21 17:13] i2chris opened #400 "Loading custom holidays clears all the provided definitions?"
Hi,

Loading custom holidays like this clears all the definition files provided within the gem.  is this the expected behaviour? From the readme I was given the impression I could load extra dates without it having any effect on the in-build ones

[code]

config/custom_holidays.yml
[code]

This works fine
[code]

Thanks